<div style="margin:10px">
  <div class="card" style="min-height:82vh; width: 100%; border-radius: 10px; box-shadow: 5px 10px #888888;">
    <div class="card-header text-center commoncardheader">
      <div class="row " style="    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span style="color:#428bca;font-size:18px" class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;project Manager Master
          </span>
        </div>
        <div class="col-lg-4 col-md-4">
        </div>
      </div>
    </div>
    <div class="card-body">
      <p-table #dt [value]="getlistdata" [style]="{'overflow':'auto!important','box-shadow' : '5px 5px #888888'}"
               [scrollable]="true" scrollHeight="65vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="text-align:center;width:70px;">Sl.No.</th>
            <!--<th class="ptable-cell" style="text-align:center;width:70px;">Select</th>-->
            <th class="ptable-cell" style="text-align:center;width:150px;">Project Code</th>
            <th class="ptable-cell" style="text-align:center;width:300px;">Project Manager</th>
          </tr>
          <tr>
            <th></th>
            <!--<th></th>-->
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectcode', 'startsWith')"></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:right;width:70px;"> {{ri+1}} </td>
            <!--<td class="ptable-cell" style="text-align:center;width:70px;">
              <input type="checkbox" [(ngModel)]="rowData.isselected" />
            </td>-->
            <td class="ptable-cell" style="text-align:center;width:150px;"> {{rowData.projectcode}} </td>
            <td class="ptable-cell" style="text-align:left;width:300px;">
              {{rowData.selectedemployeeview.idwithname}}
              <!--<p-autoComplete [(ngModel)]="rowData.selectedemployeeview" appendTo="body" [forceSelection]="true" [suggestions]="filteredEmployees" (completeMethod)="filterEmployee($event)" [size]="80"
                              [minLength]="1" placeholder="Employee" field="idwithname" [multiple]="false">
              </p-autoComplete>-->
            </td>

        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3" style="text-align:center;color:red">No Records.</td>
          </tr>
        </ng-template>
      </p-table>


    </div>
    <!--<div class="card-footer" *ngIf="getlistdata.length">
      <div>
        <button type="button"  class="btn btn-success" style="margin-left:45%"  (click)="submitAdd()">Submit</button>
      </div>
    </div>-->
  </div>



</div>



