<div style="margin:10px">
  <div class="card commoncardcssnoheight">
    <div class="card-header text-center commoncardheader">
      <div class="row " style="    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span style="color:#428bca;font-size:18px" class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Assign project
          </span>
        </div>
        <div class="col-lg-4 col-md-4">
        </div>
      </div>
    </div>
    <div class="card-body">
      <p-table #dt [value]="getlistdata" [style]="{'overflow':'auto!important','box-shadow' : '5px 5px #888888'}"
               [scrollable]="true" scrollHeight="65vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="text-align:center;width:70px;">Sl.No.</th>
            <th class="ptable-cell" style="text-align:center;width:200px;">Project Code</th>
            <th class="ptable-cell" style="text-align:center;width:300px;">Project Manager</th>
            <th class="ptable-cell" style="text-align:center;">Project Member</th>
            <th style="text-align: center;width: 150px;">Edit</th>
          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectcode', 'startsWith')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectmanagername', 'contains')"></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:right;width:70px;"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:center;width:200px;"> {{rowData.projectcode}} </td>
            <td class="ptable-cell" style="text-align:left;width:300px;">{{rowData.projectmanagername}} </td>
            <td class="ptable-cell" style="text-align:left;">{{rowData.projectmembername}} </td>
            <td class="ptable-cell" style="text-align:center;width:150px;">
              <button class="btn btn-primary btn-sm" (click)="EditMember(rowData,ri)"><i class="fa fa-edit"></i></button>
            </td>

        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" style="text-align:center;color:red">No Records.</td>
          </tr>
        </ng-template>
      </p-table>


    </div>
  </div>
  <p-dialog header="Add Member" [(visible)]="showadddatamodel" (onHide)="refreshsavemodel()" [modal]="true" [style]="{width: '98vw'}" [baseZIndex]="10000"
            [draggable]="true" [resizable]="false">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <span class="labelheading">Project Code : <span class="labeltext">{{projectcode}}</span></span>

      </div>
      <div class="col-lg-5 col-md-5">
        <span class="labelheading">Project Manager : <span class="labeltext">{{managername}}</span></span>

      </div>
     
    </div>
    <div class="row" style="margin-bottom:5px;overflow:visible!important;height:400px;margin-top:10px;">
      <div class="col-lg-12 col-md-12 ">
        <label class="labelheading">Select Employee :&nbsp;</label>
        <p-multiSelect [appendTo]="body" [options]="employeeModel" [(ngModel)]="selectedEmployee"  optionLabel="name" [style]="{'min-width':'300px'}"></p-multiSelect>
        <!--<p-autoComplete [(ngModel)]="selectedEmployee" field="idwithname" [suggestions]="filteredEmployees" placeholder="search by name/No" (onSelect)="CheckforEmpdata()" [ngModelOptions]="{standalone: true}" [forceSelection]="true" (completeMethod)="filterEmployee($event)" [size]="30"></p-autoComplete>-->
      </div>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="submitAdd()" label="Submit"></button>
      <button type="button" pButton icon="pi pi-times" (click)="showadddatamodel=false" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>


</div>



