<div class="card" style="    min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Bin Status Report
    </span>
  </div>
  <div class="card-body" style="overflow-y:scroll">
    <br />
    <div class="row">
      
      <div class="col-lg-1 col-md-1 col-sm-1 form-group">
        <h6><label class="form-label">Bin Status:</label></h6>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group"  style="padding-left:0px;">
        <select placeholder="Status" name="Status" (change)="onSelectStatus($event)" class="form-control">
          <option  selected value="filled"> Filled Bin</option>
          <option value="empty"> Empty Bin</option>
        </select>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 form-group" style="padding-left:0px;">
        <button type="submit" class="btn btn-info float-left" (click)="SubmitBinStatus()" style=" height: 35px;">Submit</button>
      </div>
    </div>
    <br />
    <p-table #dt [columns]="cols" [value]="poList">

      <ng-template pTemplate="header" let-columns>
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl.No.</th>
          <th style="text-align:center;" *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'binnumber', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'itemlocation', 'contains')"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center">
            {{ri+1}}
          </td>
          <td class="ptable-cell" style="text-align:left">{{rowData.binnumber}}</td>
          <td class="ptable-cell" style="  text-align: left; width: 90px">{{rowData.material}}</td>
          <td class="ptable-cell" style="text-align:right;width:250px">{{rowData.availableqty}}</td>
          <td class="ptable-cell" style="text-align:left;width:250px">{{rowData.itemlocation}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>

  

