<div class="card commoncardcss" style="margin:10px">
  <div class="card-header text-center commoncardheader">
   
      <div class="row" style="margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
          <div class="form-inline">
            <label class="labelheading">Status :</label>&nbsp;&nbsp;
            <select placeholder="Status" (change)="SubmitBinStatus()" class="form-control" [(ngModel)] ="selectedStatus">
              <option selected value="filled"> Filled Bin</option>
              <option value="empty"> Empty Bin</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span style="color:#428bca;font-size:18px" class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Bin Status Report
          </span>
        </div>
        <div class="col-lg-4 col-md-4 form-inline"></div>
      </div>

   
   


  </div>
  <div class="card-body" style="overflow-y:scroll">
   
    <!--<div class="row">

      <div class="col-lg-1 col-md-1 col-sm-1 form-group">
        <h6><label class="form-label">Bin Status:</label></h6>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group" style="padding-left:0px;">
        <select placeholder="Status" name="Status" (change)="onSelectStatus($event)" class="form-control">
          <option selected value="filled"> Filled Bin</option>
          <option value="empty"> Empty Bin</option>
        </select>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 form-group" style="padding-left:0px;">
        <button type="submit" class="btn btn-info float-left" (click)="SubmitBinStatus()" style=" height: 35px;">Submit</button>
      </div>
    </div>-->
 
    <p-table #dt [columns]="cols" [value]="poList">

      <ng-template pTemplate="header" let-columns>
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl.No.</th>
          <th style="text-align:center;" *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'binnumber', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'itemlocation', 'contains')"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center">
            {{ri+1}}
          </td>
          <td class="ptable-cell" style="text-align:left">{{rowData.binnumber}}</td>
          <td class="ptable-cell" style="  text-align: left; width: 90px">{{rowData.material}}</td>
          <td class="ptable-cell" style="  text-align: left; width: 90px">{{rowData.materialdescription}}</td>
          <td class="ptable-cell" style="text-align:right;width:250px">{{rowData.availableqty}}</td>
          <td class="ptable-cell" style="text-align:left;width:250px">{{rowData.itemlocation}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

  

