<div class="card" style="    min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;FIFO List
    </span>
  </div>
  <div class="card-body" style="overflow-y:scroll">
    <div *ngIf="showABCavailableqtyList">
      <div class="form-control" style="height:100%;border-radius:0px;padding-bottom:3%;">
        <div class="row " style="margin-top:10px">

          <div class="col-lg-6 col-md-6 col-sm-6 form-inline">
            <label class="form-label">Material: </label>&nbsp;&nbsp;
            <input type="text" [(ngModel)]="FIFOValues.materialid" />&nbsp;&nbsp; &nbsp;
            <button type="button" class="btn btn-primary" (click)="getenquiryList(FIFOValues.materialid)" label="Save">Enquiry</button>
          </div>

        </div>

      </div>
      <br />
      <p-table #dt [columns]="cols" [value]="FIFOList" [style]="{'width':'100%','overflow':'auto!important'}"
               [responsive]="true" [rows]="25"
               [resizableColumns]="true"
               columnResizeMode="expand"
               [paginator]="true" [rowsPerPageOptions]="[25,50,75,100]"
               appendTo="body">
        <ng-template pTemplate="header" let-columns>
          <!--<div style="text-align: center;padding-bottom:2%;">

            <input type="text" placeholder="Enter Material for enquiry" [(ngModel)]="FIFOValues.materialid" />&nbsp;&nbsp; &nbsp;
            <button type="button" class="btn btn-primary" (click)="getenquiryList(FIFOValues.materialid)" label="Save">Enquiry</button>

        </div>-->

          <tr class="mprltbldata">
            <th style="text-align:center;width:60px">Sl.No.</th>
            <th style="text-align:center;width:200px">Material</th>
            <th style="text-align:center;">Material Description</th>
            <th style="text-align:center;width:100px">Received Date</th>
            <th style="text-align:center;width:100px">Item Location</th>
            <th style="text-align:center">Available Quantity</th>
            <th style="text-align:center">Issue Quantity</th>

          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialid', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'createddate', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'itemlocation', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right">
              {{ri+1}}
            </td>
            <td class="ptable-cell" style="text-align:center">{{rowData.materialid}}</td>
            <td class="ptable-cell" style="text-align:left">{{rowData.materialdescription}}</td>
            <td class="ptable-cell" style="text-align:center">{{rowData.createddate | date:'shortDate'}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.itemlocation}}</td>
            <td class="ptable-cell" style="text-align:center">{{rowData.availableqty}}</td>
            <td class="ptable-cell" style="text-align:center">
              <input id="{{ri+1}}" style="text-align:right" pInputText type="number" (change)="checkissueqty($event,rowData.issueqty,rowData.availableqty,rowData.materialid,rowData.createddate);" class="form-control" [(ngModel)]="rowData.issueqty">
            </td>
          </tr>
        </ng-template>

        <!--<ng-template pTemplate="footer">
        <tr>
          <td [attr.colspan]="2" style="color: #17a2b8;">Totals</td>
          <td style="color: #17a2b8;text-align:right"> <button type="button" class="btn btn-primary" (click)="InsertIssuedata()" label="Save">Submit</button></td>
          <td></td>
          <td style="color: #17a2b8;text-align:right">{{totalunitprice}}</td>
          <td></td>
        </tr>
      </ng-template>-->
      </p-table>
      <br />
      <div style="padding-left:45%;">
        <button type="button" class="btn btn-primary" (click)="InsertIssuedata()" label="Save">Submit</button>
      </div>


      <br />
      <!--<div>
        <h5 style="text-align:center">Inventory classification</h5>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 form-inline"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 form-inline">
            <b> A </b>&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="ABCavailableqtyList[0]">{{((ABCavailableqtyList[0].availableqty/totalQty)*100).toFixed(2)}}% if inventory with {{((ABCavailableqtyList[0].totalcost/totalunitprice)*100).toFixed(2)}}% valuation</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 form-inline"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 form-inline">
            <b> B</b> &nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="ABCavailableqtyList[1]">{{((ABCavailableqtyList[1].availableqty/totalQty)*100).toFixed(2)}}% if inventory with {{((ABCavailableqtyList[1].totalcost/totalunitprice)*100).toFixed(2)}}% valuation</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 form-inline"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 form-inline">
            <b>C </b>&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="ABCavailableqtyList[2]">{{((ABCavailableqtyList[2].availableqty/totalQty)*100).toFixed(2)}}% if inventory with {{((ABCavailableqtyList[2].totalcost/totalunitprice)*100).toFixed(2)}}% valuation</span>
          </div>
        </div>
      </div>
    </div>-->


      <div *ngIf="showAbcMatList">
        <div class="row"><button class="btn btn-primary fa fa-arrow-left" (click)="showCatList();"></button></div><br />
        k)

        <div class="row">
          k)

          <div class="col-lg-4 col-md-4 col-sm-4 form-inline">
            -l
            be
            <label class="form-label"><b>Material:</b></label>&nbsp;&nbsp;
            <div class="form-inline-list">
              {{matDetails.materialid}}
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 form-inline">
            <label class="form-label"><b>Material description:</b></label>&nbsp;&nbsp;
            <div class="form-inline-list">
              {{matDetails.materialdescription}}
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 form-inline">
            <label class="form-label"><b>Category:</b></label>&nbsp;&nbsp;
            <div class="form-inline-list">
              {{matDetails.category}}
            </div>
          </div>
        </div><br /><br />
        <p-table #dt [columns]="cols" [value]="ABCAnalysisMateDet" [style]="{'width':'100%','overflow':'auto!important'}"
                 [responsive]="true" [rows]="50"
                 [resizableColumns]="true"
                 columnResizeMode="expand"
                 [paginator]="true" [rowsPerPageOptions]="[25,50,75,100]"
                 appendTo="body">
          <ng-template pTemplate="header" let-columns>
            <tr class="mprltbldata">
              <th style="text-align:center;width:50px">S.No</th>
              <!--<th style="width:100px">GRN No</th>
            <th style="width:100px">Received Date</th>-->
              <th style="width:100px">Confirmed qty</th>
              <th style="width:100px">Location</th>
              <th style="width:100px">Issued qty</th>
              <th style="width:100px">Available qty</th>
            </tr>
            <tr>
              <th></th>
              <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'grnnumber', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'receiveddate', 'contains')"></th>-->
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'totalquantity', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'itemlocation', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'issuedqty', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr>
              <td class="ptable-cell" style="text-align:right">
                {{ri+1}}
              </td>
              <!--<td class="ptable-cell" style="text-align:center">{{rowData.grnnumber}}</td>
            <td class="ptable-cell" style="text-align:center">{{rowData.receiveddate | date :  constants.dateFormat}}</td>-->
              <td class="ptable-cell" style="text-align:center">{{rowData.totalquantity}}</td>
              <td class="ptable-cell" style="text-align:center">{{rowData.itemlocation}}</td>
              e-
              <td class="ptable-cell" style="text-align:center">{{rowData.issuedqty}}</td>
              <td class="ptable-cell" style="text-align:right">{{rowData.availableqty}}</td>
            </tr>
          </ng-template>
          <!--<ng-template pTemplate="footer">
          <tr>
            <td [attr.colspan]="4" style="color: #17a2b8;">Total Qty</td>
            <td style="color: #17a2b8;">{{calculateTotalQty()}}</td>
          </tr>
        </ng-template>-->
        </p-table>
      </div>

    </div>
  </div>
