


  <div class="card" style="height:25px; width:300px;margin-left:3px;margin-top:5px;" *ngIf="nonreturn">
    <span><i class="fa fa-star"></i><label class="labelheading"style="font-size:20px;">&nbsp;Non Returnable</label>&nbsp;| &nbsp;<i class="fa fa-truck"></i><label class="labelheading text-danger btn-link" style=" text-decoration: underline;">&nbsp;Outward</label></span>

  </div>
<div class="card" style="height:25px; width:350px;margin-left:3px;margin-top:5px;" *ngIf="returnable">
  <span *ngIf="isoutward"><i class="fa fa-star"></i><label class="labelheading" style="font-size:20px;">&nbsp;Returnable</label>&nbsp;| &nbsp;<i class="fa fa-truck"></i><label class="labelheading text-danger btn-link" style=" text-decoration: underline;" (click)="getoutwarddata()">&nbsp;Outward</label>&nbsp;|&nbsp;<i class="fa fa-truck"></i><label class="labelheading text-primary btn-link" (click)="getinwarddata()">&nbsp;Inward</label></span>
  <span *ngIf="isinward"><i class="fa fa-star"></i><label class="labelheading" style="font-size:20px;">&nbsp;Returnable</label>&nbsp;| &nbsp;<i class="fa fa-truck"></i><label class="labelheading text-primary btn-link" (click)="getoutwarddata()">&nbsp;Outward</label>&nbsp;|&nbsp;<i class="fa fa-truck"></i><label class="labelheading text-danger btn-link" style=" text-decoration: underline;" (click)="getinwarddata()">&nbsp;Inward</label></span>
  
</div>

<div style="margin-left:5px;margin-right:5px;margin-top:10px;">
  <p-table #dt [value]="gatepassModelList" [style]="{'width':'100%','overflow':'auto!important'}"
           [responsive]="true" [rows]="50"
           [resizableColumns]="true"
           columnResizeMode="expand"
           [paginator]="true" [rowsPerPageOptions]="[25,50,75,100]"
           appendTo="body" dataKey="gatepassid">
    <ng-template pTemplate="header">
      <tr class="mprltbldata">
        <th style="text-align: center; width: 70px">Sl. No.</th>
        <th style="text-align:center;width: 100px">GatePass Id</th>
        <th style="text-align:center">Supplier</th>
        <th style="text-align:center;width: 300px">Approved By</th>
      </tr>
      <tr>
        <th></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepassid', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'vendorname', 'contains')"></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData  let-ri="rowIndex">
      <tr>
        <td>
          {{ri+1}}
        </td>
        <!--<td class="ptable-cell" style="text-align:center"> <a style="color:blue;cursor:pointer;text-decoration:underline" href="#" [pRowToggler]="rowData"> <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>{{rowData.gatepassid}}</a></td>-->
        <td class="ptable-cell" style="text-align:left"><button class="btn btn-link"  (click)="showdetails(rowData)">{{rowData.gatepassid}}</button></td>
        <td class="ptable-cell" style="text-align:left">{{rowData.vendorname}}</td>
        <td class="ptable-cell" style="text-align:left">
          <span *ngIf="nonreturn">{{rowData.mgapprover}}</span>
          <span *ngIf="!nonreturn">{{rowData.fmapprover}}</span>
        </td>
      </tr>
    </ng-template>
    

  </p-table>


</div>
              



<p-dialog header="Material Details" [(visible)]="showmatDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'95%','height':'500px','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
  <div class="row " style="margin-top:5px">
    <div class="col-lg-2 col-md-2 form-inline labelheading">
      <label class="form-label"><b>GatePass Id: </b> </label>&nbsp;<label class="labeltext">{{DGgatepassid}}</label>
    </div>
    <div class="col-lg-3 col-md-3 form-inline labelheading">
      <label class="form-label"><b>Type: </b> </label>&nbsp;<label class="labeltext">{{DGgatepasstype}}</label>
    </div>
    <div class="col-lg-3 col-md-3 form-inline labelheading">
      <label class="form-label"><b>Supplier: </b></label>&nbsp;<label class="labeltext">{{DGvendorname}}</label>
    </div>
  </div>
  <br />
  <div class="row " style="margin-top:5px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-table [value]="materialListDG" [style]="{'width':'100%','height':'500px','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="text-align:center;width:60px;">Sl. No.</th>
            <th class="ptable-cell" style="text-align:center;width:150px">Material</th>
            <th class="ptable-cell" style="text-align:center;">Material Description</th>
            <th class="ptable-cell" style="text-align:center;width:100px">inward qty</th>
            <th class="ptable-cell" style="text-align:center;width:200px">Remarks</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:center;width:60px;"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:left;width:150px"> {{rowData.materialid}} </td>
            <td class="ptable-cell" style="text-align:left"> {{rowData.materialdescription}} </td>
            <td class="ptable-cell" style="text-align:right;width:100px">
              {{rowData.inwardqty}}
             
            </td>
            <td class="ptable-cell" style="text-align:right;width:200px">
              {{rowData.remarks}}
            </td>
          </tr>

</ng-template>
      </p-table>
    </div>/
  </div><br />
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-ok" label="Submit" (click)="updateoutinward()"></button>
      <button type="button" pButton icon="fa fa-close" label="cancel" (click)="closeDG()"></button>
    </div>
  </p-footer>
</p-dialog>

