<div class="ui-g" *ngIf="employee.roleid!='4' && employee.roleid !='8'">
  <div class="ui-g-12">
    <p-card header="" [style]="{width: '238px','height':'60px'}" styleClass="ui-card-shadow">
      <i class="fa fa-bookmark" style="font-size: 25px"></i><label style="font-size: 25px; color: rgb(96, 123, 212);"> &nbsp;&nbsp;Gate Pass</label>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" pTooltip="Create GatePass" style="border-radius: 10em!important;background-color: white; border-color:  rgb(96, 123, 212);" rounded="true" size="lg" class="my-0" (click)="openGatepassDialog('','','gatepassdialog')"> <i class="fa fa-user-plus" style="font-size: 25px;color: green;"></i></button>
    </p-card>


  </div>

</div>
<div *ngIf="employee.roleid =='4'" class="card" style=" min-height: 50px;border-radius: 10px;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Gate pass
    </span>
  </div>
</div>

<div *ngIf="employee.roleid =='8'" class="card" style=" min-height: 50px;border-radius: 10px;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Gate Pass - Non Returnable Materials
    </span>
  </div>
</div>

<!--<h5 style="text-align:center">Gate Pass</h5>
<button type="button" class="btn btn-primary" style="float:right" (click)="openGatepassDialog('','','gatepassdialog')">Create Gatepass</button>
<br />
<br />
<br />-->
<div *ngIf="employee.roleid =='8'">
  <div class="row mt-4">
    <div class="col-lg-3 col-md-3 col-sm-3  form-inline">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3  form-inline">
      <label class="form-label">Status:</label>&nbsp;&nbsp;
      <div class="form-inline-list">
        <select class="form-control forms-input" [(ngModel)]="approverstatus">
          <option value="0">All</option>
          <option value='Pending'>Pending</option>
          <option value='Approved'>Approved</option>
          <option value='Sent for Modification'>Sent for Modification</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <button type="button" class="btn btn-primary" (click)="searchGatePassList()">Search</button>
    </div>
  </div>
</div>
<div style="margin-left:5px;margin-right:5px;margin-top:10px;">
  <p-table #dt [value]="gatepassModelList" [style]="{'width':'100%','overflow':'auto!important'}"
           [responsive]="true" [rows]="50"
           [resizableColumns]="true"
           columnResizeMode="expand"
           [paginator]="true" [rowsPerPageOptions]="[25,50,75,100]"
           appendTo="body">
    <ng-template pTemplate="header">
      <tr class="mprltbldata">
        <th style="text-align: center; width: 70px">Sl. No.</th>
        <th style="text-align:center">GatePass Id</th>
        <!--<th style="text-align:center">Material</th>
        <th style="text-align:center">Qty</th>-->
        <!--<th style="text-align:center">Status</th>-->
        <th style="text-align:center" *ngIf="employee.roleid!='8'">Type</th>
        <th style="text-align:center">Supplier</th>
        <!--<th style="text-align:center">Vehicle No</th>-->
        <th style="text-align:center">Reason</th>
        <th style="text-align:center">Status</th>
        <th style="text-align:center">Requested By</th>
        <th style="text-align:center">Requested On</th>
        <th *ngIf="employee.roleid!='4' && employee.roleid !='8'" style="text-align:center;width:5%">Edit</th>
        <th *ngIf="employee.roleid!='4' && employee.roleid !='8'" style="text-align:center;width:5%">Print</th>
        <th *ngIf="employee.roleid=='7'" style="text-align:center">Returned Date</th>
      </tr>
      <tr>
        <th></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepassid', 'contains')"></th>
        <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quantity', 'contains')"></th>-->
        <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'status', 'contains')"></th>-->
        <th *ngIf="employee.roleid!='8'"> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'gatepasstype', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'vendorname', 'contains')"></th>
        <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'vehicleno', 'contains')"></th>-->
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'reasonforgatepass', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'approverstatus', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'name', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedon', 'contains')"></th>
        <th *ngIf="employee.roleid!='4' &&  employee.roleid !='8'"> <input pInputText type="text" class="form-control"></th>
        <th *ngIf="employee.roleid!='4' &&  employee.roleid !='8'"> <input pInputText type="text" class="form-control"></th>
        <th *ngIf="employee.roleid=='7'"> <input pInputText type="text" class="form-control"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr>
        <td class="ptable-cell" style="text-align:center">
          {{ri+1}}
        </td>
        <td class="ptable-cell" style="text-align:center"><a *ngIf="rowData.gatepassid" [routerLink]="['/WMS/GatePassApprover',rowData.gatepassid]" routerLinkActive="active">{{rowData.gatepassid}}</a></td>
        <td class="ptable-cell" style="text-align:left" *ngIf="employee.roleid!='8'">{{rowData.gatepasstype}}</td>
        <td class="ptable-cell" style="text-align:left">{{rowData.vendorname}}</td>
        <!--<td class="ptable-cell" style="text-align:center">{{rowData.vehicleno}}</td>-->
        <td class="ptable-cell" style="text-align:left">{{rowData.reasonforgatepass}}</td>
        <td class="ptable-cell" *ngIf="rowData.approverstatus" style="text-align:left">{{rowData.approverstatus}}</td>
        <td class="ptable-cell" *ngIf="!rowData.approverstatus" style="text-align:left">Pending</td>
        <td class="ptable-cell" style="text-align:left">{{rowData.name}}</td>
        <td class="ptable-cell" style="text-align:center">{{rowData.requestedon | date :  constants.dateFormat}}</td>
        <td class="ptable-cell" *ngIf="employee.roleid!='4' && employee.roleid !='8'" style="text-align:center"><button *ngIf="rowData.approverstatus!='Approved' && rowData.requestedby==employee.employeeno" type="button" icon="fa fa-edit" pButton aria-hidden="true" (click)="openGatepassDialog(rowData,ri,'gatepassdialog')"></button></td>
        <td class="ptable-cell" *ngIf="employee.roleid!='4' && employee.roleid !='8'" style="text-align:center"><button *ngIf="rowData.approverstatus=='Approved'" type="button" icon="fa fa-print" pButton aria-hidden="true" (click)="showprint(rowData)"></button></td>
        <td *ngIf="employee.roleid=='7'" class="ptable-cell" style="text-align:center"><button *ngIf="rowData.gatepasstype=='Returnable' && employee.roleid=='7' && rowData.approverstatus=='Approved' && rowData.print==false" type="button" icon="fa fa-pencil" pButton aria-hidden="true" (click)="openGatepassDialog(rowData,ri,'updateReturnedDateDialog')"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<br />
<p-dialog header={{GatepassTxt}} [(visible)]="gatepassdialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'85%','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label for="itemlocation" class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Select Type</label>
      <div class="form-inline-list">
        <select class="form-control forms-input" [(ngModel)]="gatepassModel.gatepasstype" (change)="gatePassChange()">
          <option value=0>Select</option>
          <option value='Returnable'>Returnable</option>
          <option value='Non Returnable'>Non Returnable</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Reason</label>
      <div class="form-inline-list">
        <select class="form-control forms-input" [(ngModel)]="gatepassModel.reasonforgatepass">
          <option value=0>Select</option>
          <option value='Sample'>Sample</option>
          <option value='Testing/Repair'>Testing/Repair</option>
          <option value='Others'>Others</option>
        </select>
      </div>
    </div>
    <!--<div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Vehicle no (optional)</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.vehicleno" />
      </div>
    </div>-->
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Supplier</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.vendorname" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Reference No</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="gatepassModel.referenceno" />
      </div>
    </div>
  </div>

  <!--<b>Add Material :</b>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Material</label>
      <div class="form-inline-list">
        <p-autoComplete [(ngModel)]="material" [suggestions]="searchItems" field="name" (completeMethod)="bindSearchListData($event,'ItemId')"></p-autoComplete>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Quantity</label>
      <div class="form-inline-list">
        <input type="number" class="form-control" [(ngModel)]="materialistModel.quantity" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Price(INR)</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="materialistModel.materialcost" />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Remarks</label>
      <div class="form-inline-list">
        <input type="text" class="form-control" [(ngModel)]="materialistModel.remarks" />
      </div>
    </div>
  </div>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
      <label class="form-label">Expected  Date</label>
      <div class="form-inline-list">
        <p-calendar class="mprldatepick" [(ngModel)]="materialistModel.expecteddate" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-group mt-4">
      <button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addMaterial()"></button>
    </div>
  </div>-->
  <!--<div class="row " style="margin-top:10px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-table *ngIf="gatepassModel.materialList.length>0" [value]="gatepassModel.materialList" [style]="{'width':'87%','height':'80%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="text-align:center;width:70px">S No</th>
            <th class="ptable-cell" style="text-align:center">Material</th>
            <th class="ptable-cell" style="text-align:center;width:200px">Materia Description</th>
            <th class="ptable-cell" style="text-align:center">Quantity</th>
            <th class="ptable-cell" style="text-align:center">Price</th>
            <th class="ptable-cell" style="text-align:center">Remarks</th>
            <th class="ptable-cell" style="text-align:center">Expected Date</th>
            <th class="ptable-cell"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:right"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.materialid}} </td>
            <td class="ptable-cell" style="text-align:right"> {{rowData.materialdescription}} </td>
            <td class="ptable-cell" style="text-align:right"><input style="text-align:right" pInputText type="number" class="form-control" [(ngModel)]="rowData.quantity" (keyup)="checkMaterialandQty(rowData,ri)"></td>
            <td class="ptable-cell" style="text-align:right">{{rowData.materialcost}}</td>
            <td class="ptable-cell" style="text-align:left"> {{rowData.remarks}} </td>
            <td class="ptable-cell" style="text-align:center">{{rowData.expecteddate | date :  constants.dateFormat}}</td>
            <td class="ptable-cell" style="text-align:center"> <button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid,ri)"></button></td>
        </ng-template>
      </p-table>
    </div>
  </div>-->
  <!--Add and Update materials-->
  <div class="row " style="margin-top:10px">


    <div class="col-lg-12 col-md-12 col-sm-12">


      <p-table [value]="gatepassModel.materialList" [style]="{'width':'97%','height':'500px','overflow':'visible!important'}">
        <ng-template pTemplate="caption">
          Add Material
          <button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"></button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="width:60px;text-align:center">Sl. No.</th>
            <!--<th class="ptable-cell">Material</th>-->
            <th style="text-align:center" class="ptable-cell">Material</th>
            <th style="text-align:center" class="ptable-cell">Quantity</th>
            <th style="text-align:center" class="ptable-cell">Price(INR)</th>
            <th style="text-align:center" class="ptable-cell">Remarks</th>
            <th *ngIf="gatepassModel.gatepasstype=='Returnable'" style="text-align:center" class="ptable-cell">Expected Date</th>
            <!--<th *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell">Returned Date</th>-->
            <th style="text-align:center" class="ptable-cell"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>
            <!--<td class="ptable-cell" style="text-align:right">
              <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field[i].materialid}}" />
            </td>-->
            <td class="ptable-cell" style="text-align:left;">
              <input *ngIf="rowData.materialid" [(ngModel)]="rowData.materialid" class="form-control" type="text" name="{{rowData.materialid}}" />
              <!--<p-autoComplete *ngIf="!rowData.materialid" [(ngModel)]="material" [suggestions]="searchItems" formControlName="itemlocation" field="name" [dropdown]="true" (completeMethod)="bindSearchListData($event,'StockModelForm','itemlocation',StockModelForm.controls.itemlocation.value,undefined)"></p-autoComplete>-->

              <p-autoComplete appendTo="body" *ngIf="!rowData.materialid" (onSelect)="onMaterialSelected(material)" [(ngModel)]="material" type="text" [suggestions]="searchItems" field="name" [dropdown]="true" (completeMethod)="bindSearchListData($event,'ItemId')" size="8"></p-autoComplete>
            </td>
            <td class="ptable-cell" style="text-align:right">
              <input style="text-align:left" pInputText type="number" class="form-control" [(ngModel)]="rowData.quantity">
            </td>
            <td class="ptable-cell" style="text-align:right">
              <input [(ngModel)]="rowData.materialcost" class="form-control" type="text" name="{{rowData.materialcost}}" />

            </td>
            <td class="ptable-cell" style="text-align:right">
              <input [(ngModel)]="rowData.remarks" class="form-control" type="text" name="{{rowData.remarks}}" />

            </td>
            <td *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="text-align:right">
              <p-calendar class="mprldatepick" [(ngModel)]="rowData.expecteddate" dateFormat="dd/mm/yy" appendTo="body" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar>

              <!--<input [(ngModel)]="rowData.expecteddate" class="form-control" type="text" name="{{rowData.expecteddate | date :  constants.dateFormat}}" />-->

            </td>

            <!--<td *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="text-align:right">
              <p-calendar class="mprldatepick" [(ngModel)]="rowData.returneddate" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar>


            </td>-->



            <td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid, ri)"></button></td>


        </ng-template>


      </p-table>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="onSubmitgatepassData()" label="Submit"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Gatepass" [(visible)]="updateReturnedDateDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'85%','height':'500px','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label for="itemlocation" class="form-label"><b>GatePass Id: </b> </label>&nbsp;{{gatepassModel.gatepassid}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label for="itemlocation" class="form-label"><b>Type: </b> </label>&nbsp;{{gatepassModel.gatepasstype}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label class="form-label"><b>Reason: </b></label>&nbsp;{{gatepassModel.reasonforgatepass}}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <label class="form-label"><b>Supplier: </b></label>&nbsp;{{gatepassModel.vendorname}}
    </div>
  </div>
  <br />
  <div class="row" style="padding-left: 443px;">
    <b style="text-align:center;font-size:14px;color:darkblue;">List of Materials</b>
  </div>

  <div class="row " style="margin-top:10px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-table *ngIf="gatepassModel.materialList" [value]="gatepassModel.materialList" [style]="{'width':'100%','height':'500px','overflow':'auto!important'}">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="text-align:center;width:60px;">Sl. No.</th>
            <th class="ptable-cell" style="text-align:center">Material</th>
            <th class="ptable-cell" style="text-align:center">Material Description</th>
            <th class="ptable-cell" style="text-align:center">Quantity</th>
            <th class="ptable-cell" style="text-align:center">Price</th>
            <th class="ptable-cell" style="text-align:center">Remarks</th>
            <th class="ptable-cell" style="text-align:center">Expected Date</th>
            <th *ngIf="gatepassModel.gatepasstype=='Returnable'" class="ptable-cell" style="width:200px">Returned Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:center;width:60px;"> {{ri+1}} </td>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:right"> {{rowData.materialid}} </td>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:left"> {{rowData.materialdescription}} </td>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:right">{{rowData.quantity}}</td>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:right">{{rowData.materialcost}}</td>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:right"> {{rowData.remarks}} </td>
            <td *ngIf="rowData.materialid" class="ptable-cell" style="text-align:center">{{rowData.expecteddate | date :  constants.dateFormat}}</td>
            <td *ngIf="gatepassModel.gatepasstype=='Returnable' && rowData.returneddate && rowData.materialid" class="ptable-cell" style="text-align:right">{{rowData.returneddate | date :  constants.dateFormat}}</td>
            <td *ngIf="gatepassModel.gatepasstype=='Returnable'  && rowData.materialid && !rowData.returneddate" class="ptable-cell" style="text-align:center;text-align:center"> <p-calendar class="mprldatepick" *ngIf="employee.roleid=='7'" appendTo="body" dateFormat="dd/mm/yy" [(ngModel)]="rowData.returneddate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar></td>
        </ng-template>
      </p-table>
    </div>/
  </div><br />
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="onSubmitgatepassDetails()" label="Submit"></button>
    </div>
  </p-footer>
</p-dialog>


