<div *ngIf="materialList.length>0" id="printTemplate" style="margin-left:5px;margin-right:5px;">
  <!--<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">Doc No:768787</div>
  </div>-->
  <div class="col-lg-4 col-md-4 form-inline">
    <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="navigateToGatePass()" style="float: left; height: 26px;"></button>
  </div>
  <div id="print-section">
    <table border="1" style="margin:20px;width:85%">
      <thead>
        <tr>
          <td colspan="2">
            <div class="row printheader" style="margin: 0px; padding-top: 5px;">
              <div class="col-lg-4 col-md-4 col-sm-4 "><img src="../assets/banner1.jpg" height="60" width="150" /></div>
              <div class="col-lg-3 col-md-3 col-sm-3"></div>
              <div class="col-lg-5 col-md-5 col-sm-5 form-group">
                <span class="form-group"><b>Yokogawa India Limited</b></span><br />
                <span class="form-group">Plot No.96, Complex,3rd Cross, Hosur Road,</span><br />
                <span class="form-group"> Electronic City, Bengaluru, Karnataka 560100</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center">
            <label class="form-label"><b>Gate Pass ({{materialList[0].gatepasstype}} Items)</b></label>
          </td>
        </tr>
        <tr>
          <td style="width:50%">
            <div class="row form-inline m-2">
              <label class="form-label"><b>Name of the person:</b>&nbsp;{{materialList[0].name}}</label>
            </div>
            <div class="row form-inline m-2">
              <label class="form-label"><b>Representing:</b>&nbsp;{{materialList[0].vendorname}}</label>
            </div>
            <div class="row form-inline m-2">
              <label class="form-label"><b>Document Ref:</b>&nbsp;{{materialList[0].referenceno}}</label>
            </div>
          </td>
          <td style="width:50%">
            <div *ngIf="materialList[0].gatepasstype=='Returnable'" class="row form-inline m-2">
              <label class="form-label"><b>Document No:</b>&nbsp;QM3X-0854F-008</label>
            </div>
            <div *ngIf="materialList[0].gatepasstype=='Non Returnable'" class="row form-inline m-2">
              <label class="form-label"><b>Document No:</b>&nbsp;QM3X-0854F-009</label>
            </div>
            <div class="row form-inline m-2">
              <label class="form-label"><b>No:</b>&nbsp;{{materialList[0].gatepassid}}</label>
            </div>
            <div class="row form-inline m-2">
              <label class="form-label"><b>Date:</b>&nbsp;{{materialList[0].requestedon  | date :  constants.dateFormat}}</label>
            </div>
          </td>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <div class="printmain">
              <div class="row m-2">
                <table border="1" style="width:100%">
                  <tr>
                    <th class="ptable-cell" style="text-align:center;width:30px">Sl. No.</th>
                    <th class="ptable-cell" style="text-align:center;width:150px">Material Description</th>
                    <th class="ptable-cell" style="text-align:center;width:60px">Quantity</th>
                    <th class="ptable-cell" style="text-align:center;width:80px">Remarks</th>
                  </tr>
                  <tr *ngFor="let rowData of materialList;let ri = index">
                    <td class="ptable-cell" style="text-align:center;width:30px"> {{ri+1}} </td>
                    <td class="ptable-cell" style="text-align:center;width:150px"> {{rowData.materialdescription}} </td>
                    <td class="ptable-cell" style="text-align:right;width:60px">{{rowData.quantity}}</td>
                    <td class="ptable-cell" style="text-align:left;width:80px"> {{rowData.remarks}} </td>
                  </tr>
                </table>
              </div>
              <div class="row m-2">
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <span style="text-align:center" *ngIf="materialList.length==1"><b>Total {{materialList.length}} Item</b></span>
                  <span style="text-align:center" *ngIf="materialList.length>1"><b>Total {{materialList.length}} Items</b></span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <div class="printfooter">
          <br /><br /><br /><br />
          <div class="row m-0">

            <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
              <label class="form-label">Authorised by : </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
              <label class="form-label">Prepared by : </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 form-inline">
              <label class="form-label">Signature of the Receiver :</label>
            </div>
          </div>
        </div>
      </tfoot>
    </table>
  </div>
  <div style="text-align: center;margin-top:5px;bottom:0;position:fixed;margin-left:45%">
    <button class="btn btn-primary" (click)="printGatePass()" printTitle="GatePass" [useExistingCss]="true" styleSheetFile="/styles.css" [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}" printSectionId="print-section" ngxPrint>{{prnttxt}}</button>
  </div>
</div>
