<div class="card" style="    min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Gatepass Approval
    </span>
  </div>
  <div class="card-body" style="overflow-y:scroll">
    <div *ngIf="materialList.length>0">
      <div class="row" style="padding-left:20px;">
        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" style="font-weight:600;font-size:14px;color:darkblue;">
          GatePass Id:&nbsp;<span style="color:#dc3545;">{{materialList[0].gatepassid}}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" style="font-weight:600;font-size:14px;color:darkblue;">
          Requester:&nbsp;<span style="color:#dc3545;">{{materialList[0].name}}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" style="font-weight:600;font-size:14px;color:darkblue;">
          Supplier:&nbsp;<span style="color:#dc3545;">{{materialList[0].vendorname}}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" style="font-weight:600;font-size:14px;color:darkblue;">
          Type:&nbsp;<span style="color:#dc3545;">{{materialList[0].gatepasstype}}</span>
        </div>
      </div>
      <br />
      <div class="row" style="padding-left:20px;">

        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" style="font-weight:600;font-size:14px;color:darkblue;">
          Reason:&nbsp;<span style="color:#dc3545;">{{materialList[0].reasonforgatepass}}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" *ngIf="gatepassModel.approverstatus" style="font-weight:600;font-size:14px;color:darkblue;">
          <label>
            Status:&nbsp;<span style="color:#dc3545;">{{gatepassModel.approverstatus}}</span>

          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 form-inline" *ngIf="!gatepassModel.approverstatus" style="font-weight:600;font-size:14px;color:darkblue;">
          <label>
            Status:&nbsp;<span style="color:#dc3545;">Pending</span>

          </label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 form-inline" *ngIf="gatepassModel.approverremarks" style="font-weight:600;font-size:14px;color:darkblue;">
          Remarks:&nbsp;<span style="color:#dc3545;">{{gatepassModel.approverremarks}}</span>
        </div>
        <!--<div class="col-lg-2 col-md-2 col-sm-2 form-inline">
        <label class="form-label"><b>Vehicle No:</b></label>&nbsp;<span>{{materialList[0].vehicleno}}</span>
      </div>-->
      </div>
      <!--<br />-->
      <div class="row mt-4" style="margin:14px">
        <p-table [value]="materialList" [style]="{'width':'100%','overflow':'auto!important'}"
                 [responsive]="true" [rows]="50"
                 [resizableColumns]="true"
                 columnResizeMode="expand"
                 [paginator]="true" [rowsPerPageOptions]="[25,50,75,100]"
                 appendTo="body">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th class="ptable-cell" style="text-align:center;width:60px;">Sl.No.</th>
              <th class="ptable-cell" style="text-align:center">Material</th>
              <th class="ptable-cell" style="text-align:center;width:350px;">Material Description</th>
              <th class="ptable-cell" style="text-align:center">Quantity</th>
              <th class="ptable-cell" style="text-align:center">Price</th>
              <th class="ptable-cell" style="text-align:center">Remarks</th>
              <th class="ptable-cell" style="text-align:center">Expected Date</th>
              <th *ngIf="materialList[0].gatepasstype=='Returnable'" class="ptable-cell" style="text-align:center">Returned Date</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
            <tr>
              <td class="ptable-cell" style="text-align:right"> {{ri+1}} </td>
              <td class="ptable-cell" style="text-align:left"> {{rowData.materialid}} </td>
              <td class="ptable-cell" style="text-align:left"> {{rowData.materialdescription}} </td>
              <td class="ptable-cell" style="text-align:right">{{rowData.quantity}}</td>
              <td class="ptable-cell" style="text-align:right"><span *ngIf="rowData.materialcost">{{rowData.materialcost}}</span></td>
              <td class="ptable-cell" style="text-align:left"> {{rowData.remarks}} </td>
              <td class="ptable-cell" style="text-align:center">{{checkValiddate(rowData.expecteddate)}}</td>
              <td *ngIf="materialList[0].gatepasstype=='Returnable' && rowData.returneddate" class="ptable-cell" style="text-align:right">{{checkValiddate(rowData.returneddate)}}</td>

          </ng-template>
        </p-table>
      </div>
      <!--</div>-->
      <div *ngIf="employee.roleid=='4'">

        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-3 col-md-3 col-sm-3  form-inline" *ngIf="!gatepassModel.approverstatus">
            <label class="form-label">Status:</label>&nbsp;&nbsp;
            <div class="form-inline-list">
              <select class="form-control forms-input" [(ngModel)]="gatepassModel.approverstatus">
                <option value='Approved'>Approved</option>
                <option value='Sent for Modification'>Sent for Modification</option>
              </select>
            </div>

          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 form-inline" *ngIf="!gatepassModel.approverremarks">
            <label class="form-label">Remarks:</label>&nbsp;&nbsp;
            <div class="form-inline-list">
              <input type="text" class="form-control" [(ngModel)]="gatepassModel.approverremarks" />
            </div>

          </div>

          <div *ngIf="!btnDisable" class="col-lg-2 col-md-2 col-sm-2 form-inline">
            <button [disabled]="btnDisable" type="button" class="btn btn-primary" (click)="updategatepassapproverstatus()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
   
