<div class="card commoncardcss" style="margin:10px">
  <div class="card-header text-center commoncardheader">
    <div class="row" style="margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
      <div class="col-lg-4 col-md-4">
        <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backPOStatus()" style="float: left;
    height: 26px;"></button>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <span style="color:#428bca;font-size:18px" class="commonheadertext">
          <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Invoice Details
        </span>
      </div>
      <div class="col-lg-4 col-md-4 form-inline"></div>
    </div>

  </div>
  <div class="card-body" style="overflow-y:scroll">
    <div class="row col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-4 col-md-4 col-sm-4 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        PO No.: <label class="form-label" style="color:#dc3545;">{{pono}}</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        PO Qty: <label class="form-label" style="color:#dc3545;">{{poQty}}</label>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        Pending Qty: <label class="form-label" style="color:#dc3545;">{{pendingqty}}</label>
      </div>
    </div>

    <p-table #dt [columns]="cols" [value]="invoiceDetails">
      <!--<ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
          <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
        </div>
      </ng-template>-->
      <ng-template pTemplate="header" let-columns>
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl. No.</th>
          <th *ngFor="let col of columns" style="text-align:center;">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'invoiceno', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'grnnumber', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'receivedqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'confirmedqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'returnedqty', 'contains')"></th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center">
            {{ri+1}}
          </td>
          <td class="ptable-cell" style="text-align:left">{{rowData.invoiceno}}</td>
          <td class="ptable-cell" style="text-align:center"><a style="color:#36f !important" (click)="MaterialDetails(rowData.grnnumber)">{{rowData.grnnumber}}</a></td>
          <td class="ptable-cell" style="text-align:right">{{rowData.receivedqty}}</td>
          <td class="ptable-cell" style="text-align:right">{{rowData.confirmedqty}}</td>
          <td class="ptable-cell" style="text-align:right">{{rowData.returnedqty}}</td>

        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="color: #17a2b8;">Total</td>
          <td style="text-align:right; color: #17a2b8;">{{confirmQtyTotal}}</td>
          <td></td>
        </tr>

      </ng-template>
    </p-table>
  </div>
</div>
   
    
    <!--<p-footer>
      <label>
        Total Confirmed Qty: {{confirmQtyTotal}}</label>
    </p-footer>-->
