<div class="card" style="    min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Invoice Details
    </span>
    <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backPOStatus()" style="float: left;
    height: 26px;"></button>
  </div>
  <div class="card-body" style="overflow-y:scroll">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        PO No.: <label class="form-label" style="color:#dc3545;">{{pono}}</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        PO Qty: <label class="form-label" style="color:#dc3545;">{{poQty}}</label>

      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        pending Qty: <label class="form-label" style="color:#dc3545;">{{pendingqty}}</label>
      </div>
    </div>

    <p-table #dt [columns]="cols" [value]="invoiceDetails">
      <!--<ng-template pTemplate="caption">
      <div class="ui-helper-clearfix" style="text-align: left">
        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
      </div>
    </ng-template>-->
      <ng-template pTemplate="header" let-columns>
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl.No.</th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'invoiceno', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'grnnumber', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'receivedqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'confirmedqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'returnedqty', 'contains')"></th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:right">
            {{ri+1}}
          </td>
          <td class="ptable-cell" style="text-align:center">{{rowData.invoiceno}}</td>
          <td class="ptable-cell" style="text-align:center"><a style="color:#36f !important" (click)="MaterialDetails(rowData.grnnumber)">{{rowData.grnnumber}}</a></td>
          <td class="ptable-cell" style="text-align:center">{{rowData.receivedqty}}</td>
          <td class="ptable-cell" style="text-align:center">{{rowData.confirmedqty}}</td>
          <td class="ptable-cell" style="text-align:center">{{rowData.returnedqty}}</td>

        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td style="text-align:center">{{confirmQtyTotal}}</td>
          <td></td>
        </tr>

      </ng-template>
    </p-table>
  </div>
  </div>
   
    
    <!--<p-footer>
      <label>
        Total Confirmed Qty: {{confirmQtyTotal}}</label>
    </p-footer>-->
