<div class="card commoncardcss" style="margin:10px">
  <div class="card-header text-center commoncardheader">
    <div class="row" style="margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
      <div class="col-lg-4 col-md-4">
        <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backMaterialDetails()" style="float: left;
    height: 26px;"></button>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <span style="color:#428bca;font-size:18px" class="commonheadertext">
          <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Material {{type}} Details
        </span>
      </div>
      <div class="col-lg-4 col-md-4 form-inline"></div>
    </div>

  </div>
  <!--<div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Material Request Details
    </span>
    <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backMaterialDetails()" style="float: left;
    height: 26px;"></button>
  </div>-->


  <!--<div>
    <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backMaterialDetails()" style="float: left;
    height: 26px;"></button>
    <h5 style="text-align:center">Material Request Details</h5>
  </div>-->
  <div class="card-body" style="overflow-y: scroll; margin-left: 10px; margin-right: 10px">
    <div class="row col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-3 col-md-3 col-sm-6 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        GRN No.: <label class="form-label" style="color:#dc3545;">{{grnNo}}</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        PONo.: <label class="form-label" style="color:#dc3545;">{{pono}}</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 form-group" style="font-weight:600;font-size:14px;color:darkblue;">
        Material: <label class="form-label" style="color:#dc3545;">{{materialcode}}{{materialdescription}}</label>
      </div>
    </div>
    <p-table #dt [columns]="cols" [value]="MaterailRequestDetails" *ngIf="isissueview">
      <!--<ng-template pTemplate="caption">
      <div class="ui-helper-clearfix" style="text-align: left">
        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
      </div>
    </ng-template>-->
      <ng-template pTemplate="header" let-columns>
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl. No.</th>
          <th style="text-align:center" *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center">
            {{ri+1}}
          </td>
          <td class="ptable-cell" style="text-align: right;width: 70px">{{rowData.issuedqty}}</td>
          <td class="ptable-cell" style="text-align:left">
            <span *ngIf="rowData.requestmaterialid">Material Request</span>
            <span *ngIf="rowData.gatepassmaterialid">Gate Pass-{{rowData.gatepasstype}}</span>
          </td>
          <td class="ptable-cell" style="text-align:left">
            <span *ngIf="rowData.requestmaterialid">{{rowData.requestername}}</span>
            <span *ngIf="rowData.gatepassmaterialid">{{rowData.gatepassrequestedby}}</span>
          </td>
          <td class="ptable-cell" style="text-align:center">
            <span *ngIf="rowData.requestmaterialid">{{rowData.requesteddate | date :  constants.dateFormat}}</span>
            <span *ngIf="rowData.gatepassmaterialid">{{rowData.gatepassrequesteddate | date :  constants.dateFormat}}</span>
          </td>
          <td class="ptable-cell" style="text-align:center">{{rowData.issuedby}}</td>
          <td class="ptable-cell" style="text-align:center">{{rowData.issuedon| date :  constants.dateFormat}}</td>
          <td class="ptable-cell" style="text-align:left;width:150px">{{rowData.issuelocation}}</td>
          <td class="ptable-cell" style="text-align:left">
            <span *ngIf="rowData.gatepassmaterialid && rowData.gatepasstype === 'Returnable'">{{rowData.mgapprover}}-(PM)</span>
            <span *ngIf="rowData.gatepassmaterialid && rowData.gatepasstype === 'Non Returnable'">{{rowData.fmapprover}}-(FM)</span>

          </td>
          <td class="ptable-cell" style="text-align:left">
            <span *ngIf="rowData.ackstatus">
              {{rowData.requestername}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td style="color: #17a2b8;">Total</td>
          <td style="text-align:right;color: #17a2b8;">{{QtyTotal}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>

      </ng-template>
    </p-table>
    <p-table #dt [columns]="reservecols" [value]="MaterailReserveDetails" *ngIf="!isissueview">
      <ng-template pTemplate="header" let-columns>
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl. No.</th>
          <th style="text-align:center" *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center">
            {{ri+1}}
          </td>
          <td class="ptable-cell" style="text-align: right;width: 70px">{{rowData.reservequantity}}</td>
          <td class="ptable-cell" style="text-align:left">{{rowData.reservedby}}</td>
          <td class="ptable-cell" style="text-align:center">{{rowData.reservedon| date :  constants.dateFormat}}</td>
          <td class="ptable-cell" style="text-align:center">{{rowData.reserveupto| date :  constants.dateFormat}}</td>
          <td class="ptable-cell" style="text-align:left;width:150px">{{rowData.issuelocation}}</td>
          <td class="ptable-cell" style="text-align:left">{{rowData.projectcode}}</td>
          <td class="ptable-cell" style="text-align:left">{{rowData.ackstatus}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td style="color: #17a2b8;">Total</td>
          <td style="text-align:right;color: #17a2b8;">{{QtyTotal}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>

      </ng-template>
    </p-table>
  </div>
</div>
    
