
<div class="card" style="max-height:100vh;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Requested Material List
    </span>
  </div>
  <div class="card-body" style="overflow-y:visible;padding:0px;">
    <p-table #dt [value]="requestList" [style]="{'width':'100%'}" [scrollable]="true" scrollHeight="53vh">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl.No.</th>
          <th style="text-align:center;width:100px">Request Id</th>
          <th style="text-align:center;width:200px">PO No</th>
          <th style="text-align:center">Project Name</th>
          <th style="text-align:center;width:150px">Requested On</th>
          <th style="text-align:center;width:200px">PM Acknowlegment</th>
          <th style="text-align:center;width:100px">Status</th>
          <!--<th style="text-align:center;width:100px">Retrun qty</th>-->
          <!--<th style="text-align:center">Requested Quantity</th>
        <th style="text-align:center">Received Quantity</th>
        <th style="text-align:center;width:200px">Acknowledge</th>-->
        </tr>
        <tr>
          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestid', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectname', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requesteddate', 'contains')"></th>
          <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedquantity', 'contains')"></th>-->
          <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedquantity', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quotationqty', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ackremarks', 'contains')"></th>-->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:right;width:70px;">{{ri+1}}</td>
          <td class="ptable-cell" style="text-align:center;width:100px;">
            <button type="button" class="btn btn-link" (click)="showmaterialdetails(rowData.requestid);" style="padding-left:0px;">{{rowData.requestid}}</button>
          </td>
          <td class="ptable-cell" style="text-align:center;width:200px;">{{rowData.pono}}</td>
          <td class="ptable-cell" style="text-align:left">{{rowData.projectname}}</td>
          <td class="ptable-cell" style="text-align:center;width:150px;">{{rowData.requesteddate| date :  constants.dateFormat}}</td>
          <td class="ptable-cell" style="width:200px;">
            <div *ngIf="rowData.approvedstatus=='Approved'" class="form-inline">
              <p-checkbox [(ngModel)]="rowData.status"  [disabled]="rowData.approvedstatus=='Approved'?true:false" binary="true" (click)="ackStatusChanges(rowData.approvedstatus)"></p-checkbox> &nbsp;&nbsp;
              <textarea type="text" style="width:140px" class="form-control" [disabled]="rowData.ackremarks==null?false:true" [(ngModel)]="rowData.ackremarks"></textarea>
            </div>

          </td>
          <!--<td class="ptable-cell" style="text-align:right">{{rowData.quotationqty}}</td>
        <td class="ptable-cell" style="text-align:right">
          <span *ngIf="rowData.approvedstatus=='approved'">{{rowData.requestedquantity}}</span>-->
          <!--<input *ngIf="rowData.approvedstatus!='approved'" pInputText type="number" class="form-control" [(ngModel)]="rowData.requestedquantity" (change)="reqQtyChange(rowData)">-->
          <!--</td>
        <td class="ptable-cell" style="text-align:right">{{rowData.requestedquantity}}</td>-->
          <td class="ptable-cell" style="text-align:center;width:100px;">

          {{rowData.approvedstatus}}
          <!--<div *ngIf="rowData.approvedstatus=='approved'" class="form-inline">

    <textarea type="text" style="width:140px" class="form-control" disabled="disabled" [(ngModel)]="rowData.approvedstatus"></textarea>
  </div>-->
            <span *ngIf="rowData.ackstatus=='received'">{{rowData.approvedstatus}}</span>
            <span *ngIf="rowData.approvedstatus==null">Pending</span>
          </td>
          <!--<td class="ptable-cell" style="text-align:center;width:100px;">
            <input pInputText [disabled]="true" type="number" class="form-control" [(ngModel)]="rowData.returnqty">
          </td>-->
        </tr>
      </ng-template>
    </p-table>
    <br />
    <br />
    <div *ngIf="showAck" style="text-align: center;margin-top:0px;padding-top:0px;">
      <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="materialAckUpdate()">Acknowledge</button>
    </div>
    <!--<div style="text-align: center;margin-top:0px;padding-top:0px;">
      <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="returnqty()">Return Quantity</button>
    </div>-->
    <div style="height: 5px; overflow-y: scroll">

      <p-dialog header="Material Requested Details" [(visible)]="AddDialog" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '80vh','min-height':'250px'}" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '1024px'}">
        <div *ngIf="showdialog">
          <div class="row  pl-0">
            <div class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading">
              <label>Request Id :</label>&nbsp;<span class="labeltext"><label>{{materiallistData[0].requestid}}</label></span>
            </div>

          </div>

        </div>
        <p-table #dt [value]="materiallistData">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th style="text-align:center;width:70px">S.No</th>
              <th style="text-align:center">Material</th>
              <th style="text-align:center;width:150px">Requested  Qty</th>
              <th style="text-align:center;width:150px">Issued Qty</th>
              <th style="text-align:center;width:150px">Return Qty</th>

            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr>
              <td class="ptable-cell" style="text-align:right">
                {{ri+1}}
              </td>
              <td class="ptable-cell" style="text-align:left">{{rowData.materialid}}</td>
              <td class="ptable-cell" style="text-align:right">{{rowData.requestedquantity}}</td>
              <td class="ptable-cell" style="text-align:right">
                {{rowData.issuedquantity}}

              </td>
              <td class="ptable-cell" style="text-align:center;width:100px;">
                <input pInputText [disabled]="rowData.approvedstatus=='Approved'?false:true" type="number" (change)="returnQtyChange(rowData.issuedquantity,rowData.returnqty)" class="form-control" [(ngModel)]="rowData.returnqty">
              </td>
              <!--<td class="ptable-cell" style="text-align:left">{{rowData.createddate | date :  constants.dateFormat}}</td>-->
            </tr>
          </ng-template>

        </p-table>
        <p-footer>
          <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="returnqty()">Return Quantity</button>
          <!--<div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="Cancel()" label="OK"></button>
    <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
  </div>-->
        </p-footer>
      </p-dialog>
    </div>
  </div>
  </div>
   
  
