
  <div class="card commoncardcss" style="margin:10px">
    <div class="card-header text-center commoncardheader">
      <div class="row " style="    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
          <p-button icon="fa fa-user-plus" label="Material Transfer" (click)="openGatepassDialog('','','gatepassdialog')"></p-button>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Material Transfer
          </span>
        </div>
        <div class="col-lg-4 col-md-4 form-inline">
        </div>
      </div>
    </div>
    <!--<div class="card-header" style="width:250px;height:30px;margin-left:5px;padding-top:0px">
      <span>
        <i class="fa fa-bookmark" style="font-size: 16px"></i><label style="font-size: 15px;padding:0px; color: rgb(96, 123, 212);"> &nbsp;&nbsp;Material transfer</label>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" pTooltip="Transfer Material" style="border-radius: 10em!important;background-color: white; border-color:  rgb(96, 123, 212);" rounded="true" size="lg" class="my-0" (click)="openGatepassDialog('','','gatepassdialog')"> <i class="fa fa-user-plus" style="font-size: 15px;color: green;"></i></button>

      </span>
    </div>-->
    <div class="card-body" style="overflow-y:visible;padding:0px;">
      <p-table #dt [value]="requestList" [style]="{'width':'100%'}" [scrollable]="true" scrollHeight="62vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:60px">Sl.No.</th>
            <th style="text-align:center;width:150px">Transfer Id</th>
            <th style="text-align:center;width:100px">Project From</th>
            <th style="text-align:center;width:100px">Project To</th>
            <th style="text-align:center;width:100px">Transferred On</th>
            <th style="text-align:center;width:170px">Transferred By</th>
            <th style="text-align:center;width:180px">Remarks</th>
            <th style="text-align:center;width:100px">Status</th>
          </tr>
          <tr>

            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferid', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectcodefrom', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectcode', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'createdon', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferedby', 'contains')"></th>
            <th></th>
            <th><input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'status', 'startsWith')"></th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right;width:60px;">{{ri+1}}</td>

            <td class="ptable-cell" style="text-align: center;width: 150px;">
              <span (click)="showattachdata(rowData)" class="btn btn-link">{{rowData.transferid}}</span>
            </td>
            <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.projectcodefrom}}</td>
            <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.projectcode}}</td>
            <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.transferredon | date :  constants.dateFormat}}</td>
            <td class="ptable-cell" style="text-align:left;width:170px;">{{rowData.transferedby}}</td>
            <td class="ptable-cell" style="text-align:left;width:180px;">{{rowData.transferremarks}}</td>
            <td class="ptable-cell" style="text-align:left;width:100px;">
              <span *ngIf="rowData.status=='Approved'" style="color:green">{{rowData.status}}</span>
              <span *ngIf="rowData.status=='Pending'" style="color:blue">{{rowData.status}}</span>
              <span *ngIf="rowData.status=='Rejected'" style="color:red">{{rowData.status}}</span>
            </td>


          </tr>
          <tr *ngIf="rowData.showtr">
            <td [attr.colspan]="8" style="text-align:center;">
              <label class="labeltext">Material Detail</label>
            </td>

          </tr>
          <tr *ngIf="rowData.showtr">
            <td [attr.colspan]="4" style="text-align:left;">
              <label class="labelheading">Project Manager(From)&nbsp;:&nbsp;<span class="labeltext">{{rowData.projectmanagerfrom}}</span></label>
            </td>
            <td [attr.colspan]="4" style="text-align:left;">
              <label class="labelheading">Project Manager(To)&nbsp;:&nbsp;<span class="labeltext">{{rowData.projectmanagerto}}</span></label>
            </td>

          </tr>
          <tr *ngIf="rowData.showtr">
            <td [attr.colspan]="8">
             
              <table>
                <tr>
                  <th>Approver</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Remarks</th>
                </tr>
                <tr *ngFor="let rowx of rowData.approverdata">
                  <td>{{rowx.approvername}}</td>
                  <td>
                    <span *ngIf="rowx.status=='Approved'" style="color:green">{{rowx.status}}</span>
                    <span *ngIf="rowx.status=='Pending'" style="color:blue">{{rowx.status}}</span>
                    <span *ngIf="rowx.status=='Rejected'" style="color:red">{{rowx.status}}</span>

                  </td>
                  <td>{{rowx.approvedon | date : 'dd/MM/yyyy'}}</td>
                  <td>{{rowx.remarks}}</td>
                </tr>
              </table>

            </td>
          </tr>
 
          <tr *ngIf="rowData.showtr">
            <td [attr.colspan]="8" style="text-align:center;">

              <p-table [value]="rowData.materialdata" [style]="{'width':'100%'}">
                <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="width: 10%; text-align: center">Sl. No.</th>
            <th style="text-align:center;width:30%" class="ptable-cell">Material</th>
            <th style="text-align:center;width:50%" class="ptable-cell">Material Description</th>
            <th style="text-align:center;width:20%" class="ptable-cell">Transfer quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:center;">
              {{rowData.materialid}}
            </td>
            <td class="ptable-cell" style="text-align:left">
              {{rowData.materialdescription}}
            </td>
            <td class="ptable-cell" style="text-align:right">
              {{rowData.transferredqty}}
            </td>
        </ng-template>


      </p-table>
      </td>

      </tr>
      </ng-template>
      </p-table>



      <div style="height: 5px; overflow-y: scroll">


        <p-dialog header={{GatepassTxt}} [(visible)]="gatepassdialog" (onHide)="clearDG()" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'98vw','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
          <div class="row">
            <div class="col-lg-9 col-md-9 form-inline">
              <label class="labelheading">Transfer from :</label>&nbsp;
              <p-autoComplete [(ngModel)]="selectedprojectfrom" field="text" appendTo="body" [suggestions]="filteredprojectsfrom" placeholder="search by name/code" [ngModelOptions]="{standalone: true}" [forceSelection]="true" (onSelect)="onProjectSelected()" (completeMethod)="filterprojectsfrom($event)" [size]="30"
                              [dropdown]="true">
              </p-autoComplete>&nbsp;&nbsp;
              <label class="labelheading">Transfer to :</label>&nbsp;
              <p-autoComplete [(ngModel)]="selectedproject" field="text" appendTo="body" [suggestions]="filteredprojects" placeholder="search by name/code" [ngModelOptions]="{standalone: true}" (onSelect)="onProjectSelected1()" [forceSelection]="true" (completeMethod)="filterprojects($event)" [size]="30"
                              [dropdown]="true">
              </p-autoComplete>
            </div>
            <div class="col-lg-3 col-md-3 form-inline">
              <textarea [(ngModel)]="transferremarks" style="width:80%;resize:none" placeholder="Remarks"></textarea>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 form-inline">
              <b>{{projectmanagerfrom}}</b>
            </div>
            <div class="col-lg-4 col-md-4 form-inline">
              <b>{{projectmanagerto}}</b>
</div>

          </div>
          <div class="row " style="margin-top:10px">


            <div class="col-lg-12 col-md-12 col-sm-12">


              <p-table [value]="materialtransferdetil" [style]="{'width':'99%','height':'500px','overflow':'visible!important'}">
                <ng-template pTemplate="caption">


                </ng-template>
                <ng-template pTemplate="header">
                  <tr class="mprltbldata">
                    <th class="ptable-cell" style="width: 7%; text-align: center">Sl. No.</th>
                    <th style="text-align:center;width:28%" class="ptable-cell">Material</th>
                    <th style="text-align:center;width:40%" class="ptable-cell">Material Description</th>
                    <th style="text-align:center;width:15%" class="ptable-cell">Transfer quantity</th>
                    <th style="text-align:center;width:10%" class="ptable-cell"><button type="button" class="btn btn-primary btn-sm" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"><i class="fa fa-plus"></i></button></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
                  <tr>
                    <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>
                    <td class="ptable-cell" style="text-align:left;">
                      <p-autoComplete appendTo="body"  placeholder="search by name/code" [(ngModel)]="rowData.material" (onSelect)="onMaterialSelected(rowData.material,rowData,ri)"  type="text" [suggestions]="searchItems" field="name" [forceSelection]="true" [dropdown]="true" (completeMethod)="bindSearchListDatamaterial($event,'material')" size="25"></p-autoComplete>
                      <!--<p-autoComplete [(ngModel)]="rowData.materialid" (onSelect)="onMaterialSelected(rowData,ri)" appendTo="body" field="code" [suggestions]="filteredmaterial" placeholder="search by name/code" [forceSelection]="true" (completeMethod)="filtermaterials($event)" [size]="25"
                                      [dropdown]="true"></p-autoComplete>-->
                     
                    </td>
                    <td class="ptable-cell" style="text-align:right">
                      <input style="text-align:left" pInputText type="text" readonly class="form-control" [(ngModel)]="rowData.materialdescription">
                    </td>
                    <td class="ptable-cell" style="text-align:right">
                      <input style="text-align:left" pInputText type="number" class="form-control" (change)="checkqty(rowData.transferredqty,rowData)" [(ngModel)]="rowData.transferredqty">
                    </td>





                    <td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.materialid, ri)"></button></td>


                </ng-template>


              </p-table>
            </div>
          </div>

          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-close" (click)="transfermaterial()" label="Submit"></button>
            </div>
          </p-footer>
        </p-dialog>
      </div>
    </div>
  </div>


