<div style="margin:10px;">


  <div class="card commoncardcss">
    <div class="card-header text-center commoncardheader">
      <div class="row " style="    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
          <p-button icon="fa fa-user-plus" label="Request Material" (click)="requestMaterial()"></p-button>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Requested Material
          </span>
        </div>
        <div class="col-lg-4 col-md-4 form-inline">
        </div>
      </div>
    </div>

    <!--<div class="card-header" style="width:237px;height:27px;margin-left:41px;padding-top:0px">
      <span>
        <i class="fa fa-bookmark" style="font-size: 15px"></i><label style="font-size: 15px;padding:0px; color: rgb(96, 123, 212);"> &nbsp;&nbsp;Material Request</label>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" pTooltip="Request Material" style="border-radius: 10em!important;background-color: white; border-color:  rgb(96, 123, 212);" rounded="true" size="lg" class="my-0" (click)="requestMaterial()"> <i class="fa fa-user-plus" style="font-size: 15px;color: green;"></i></button>

      </span>
    </div>-->
    <div class="card-body" style="overflow-y:hidden;padding:0px;margin-left:10px;margin-right:10px">
      <p-table #dt1 [value]="requestList" [style]="{'width':'100%'}" [scrollable]="true" scrollHeight="53vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <!--<th style="text-align:center;width:70px">Select</th>-->
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:100px">Request Id</th>
            <th style="text-align:center;width:100px">Project</th>
            <!--<th style="text-align:center;width:200px">PO No</th>-->
            <!--<th style="text-align:center">Project Name</th>-->
            <th style="text-align:center;width:150px">Requested On</th>
            <th style="text-align:center;width:100px">Status</th>
            <th style="text-align:center;width:200px">Remarks</th>
            <th style="text-align:center;width:200px">PM Acknowlegment</th>

            <!--<th style="text-align:center;width:100px">Retrun qty</th>-->
            <!--<th style="text-align:center">Requested Quantity</th>
  <th style="text-align:center">Received Quantity</th>
  <th style="text-align:center;width:200px">Acknowledge</th>-->
          </tr>
          <tr>
            <!--<th></th>-->
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'requestid', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'projectcode', 'contains')"></th>
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>-->
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectname', 'contains')"></th>-->
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'requesteddate', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'approvedstatus', 'contains')"></th>
            <th></th>
            <th></th>
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedquantity', 'contains')"></th>-->
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedquantity', 'contains')"></th>
  <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quotationqty', 'contains')"></th>
  <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ackremarks', 'contains')"></th>-->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr class="mprltbltddata">
            <!--<td style="width:70px;text-align:center">
    <p-radioButton name="select" binary="true" (click)="selectrow(rowData.requestid)"></p-radioButton>
  </td>-->
            <td class="ptable-cell" style="text-align:center;width:70px;">{{ri+1}}</td>

            <td class="ptable-cell" style="text-align: center;width: 100px;">
              <button type="button" class="btn btn-link" (click)="showmaterialdetails(rowData.requestid,rowData)" style="padding-left:0px;text-align:center;">MATRQ{{rowData.requestid}}</button>
            </td>

            <!--<td class="ptable-cell" style="text-align:center;width:200px;">{{rowData.pono}}</td>-->
            <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.projectcode}}</td>
            <td class="ptable-cell" style="text-align:center;width:150px;">{{rowData.requesteddate| date :  constants.dateFormat}}</td>
            <td class="ptable-cell" style="text-align:center;width:100px;">

              <!--{{rowData.approvedstatus}}-->
              <!--<div *ngIf="rowData.approvedstatus=='approved'" class="form-inline">

      <textarea type="text" style="width:140px" class="form-control" disabled="disabled" [(ngModel)]="rowData.approvedstatus"></textarea>
    </div>-->
              <span *ngIf="rowData.approvedstatus!=null">{{rowData.approvedstatus}}</span>
              <span *ngIf="rowData.approvedstatus==null">Pending</span>
            </td>
            <td class="ptable-cell" style="text-align:left;width:200px;">{{rowData.remarks}}</td>
            <td class="ptable-cell" style="width:200px;">
              <div *ngIf="rowData.approvedstatus=='Approved' && rowData.ackstatus!='received'" class="form-inline">

                <p-checkbox [(ngModel)]="rowData.status" binary="true" (click)="ackStatusChanges($event)"></p-checkbox> &nbsp;&nbsp;

                <textarea type="text" style="width:140px" class="form-control" [(ngModel)]="rowData.ackremarks"></textarea>
              </div>
              <div *ngIf="rowData.approvedstatus=='Approved' && rowData.ackstatus=='received'" class="form-inline">
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <textarea type="text" style="width:140px" class="form-control" [disabled]="true" [(ngModel)]="rowData.ackremarks"></textarea>
              </div>
              <!--<div *ngIf="rowData.approvedstatus=='Approved' && rowData.ackstatus=='received'" class="form-inline">
      <p-checkbox [(ngModel)]="rowData.status" [disabled]="rowData.approvedstatus=='Approved'?true:false" binary="true" (click)="ackStatusChanges(rowData.approvedstatus)"></p-checkbox> &nbsp;&nbsp;
      <textarea type="text" style="width:140px" class="form-control" [disabled]="rowData.ackstatus=='received'?true:false" [(ngModel)]="rowData.ackremarks"></textarea>
    </div>-->
              <!--<div *ngIf="rowData.approvedstatus=='Approved'" class="form-inline">
      <p-checkbox [(ngModel)]="rowData.status"  (click)="ackStatusChanges(rowData.ackstatus)"></p-checkbox> &nbsp;&nbsp;
      <textarea type="text" style="width:140px" class="form-control"  [(ngModel)]="rowData.ackremarks"></textarea>
    </div>-->

            </td>

            <!--<td class="ptable-cell" style="text-align:right">{{rowData.quotationqty}}</td>
  <td class="ptable-cell" style="text-align:right">
    <span *ngIf="rowData.approvedstatus=='approved'">{{rowData.requestedquantity}}</span>-->
            <!--<input *ngIf="rowData.approvedstatus!='approved'" pInputText type="number" class="form-control" [(ngModel)]="rowData.requestedquantity" (change)="reqQtyChange(rowData)">-->
            <!--</td>
  <td class="ptable-cell" style="text-align:right">{{rowData.requestedquantity}}</td>-->
            <!--<td class="ptable-cell" style="text-align:center;width:100px;">
    <input pInputText [disabled]="true" type="number" class="form-control" [(ngModel)]="rowData.returnqty">
  </td>-->
          </tr>
        </ng-template>
      </p-table>
      <br />
      <br />
      <div *ngIf="showAck" style="text-align: center;margin-top:0px;padding-top:0px;">
        <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="materialAckUpdate()">Acknowledge</button>
      </div>
      <br />
      <p-table #dt *ngIf="showhistory" [value]="materiallistDataHistory" [style]="{'width':'80%','margin-left':'100px'}" [scrollable]="true" scrollHeight="53vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:200px">Material</th>
            <th style="text-align:center;width:150px">Requested qty</th>
            <th style="text-align:center">Returned qty</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right;width:70px;">{{ri+1}}</td>
            <td class="ptable-cell" style="text-align:left">{{rowData.projectname}}</td>
            <td class="ptable-cell" style="text-align:center;width:200px;">{{rowData.pono}}</td>


          </tr>
        </ng-template>
      </p-table>
      <!--<div style="text-align: center;margin-top:0px;padding-top:0px;">
        <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="returnqty()">Return Quantity</button>
      </div>-->
      <div style="height: 5px; overflow-y: scroll">

        <p-dialog header="Material Requests" [(visible)]="AddDialog" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '80vh','min-height':'250px'}" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '85vw'}">
          <div *ngIf="showdialog">
            <div class="row  pl-0">
              <div class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading">
                <label>Request Id :</label>&nbsp;<span class="labeltext"><label *ngIf="materiallistData[0]" >MATRQ{{materiallistData[0].requestid}}</label></span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading" *ngIf="isreservedbefore">
                <label>Reserve Id :</label>&nbsp;<span class="labeltext"><label>{{reserveidview}}</label></span>
              </div>

            </div>

          </div>
          <p-table #dt [value]="materiallistData">
            <ng-template pTemplate="header">
              <tr class="mprltbldata">
                <th style="text-align:center;width:70px">Sl.No</th>
                <th style="text-align:center;width:200px">Material</th>
                <th style="text-align:center">Material Description</th>
                <th style="text-align:center;width:150px">Requested  Qty</th>
                <th style="text-align:center;width:150px">Issued Qty</th>
                <!--<th style="text-align:center;width:150px">Return Qty</th>-->

              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
              <tr>
                <td class="ptable-cell" style="text-align:right">
                  {{ri+1}}
                </td>
                <td class="ptable-cell" style="text-align:center">{{rowData.materialid}}</td>
                <td class="ptable-cell" style="text-align:left">{{rowData.materialdescription}}</td>
                <td class="ptable-cell" style="text-align:right">{{rowData.requestedquantity}}</td>
                <td class="ptable-cell" style="text-align:right">
                  {{rowData.issuedquantity}}

                </td>
                <!--<td class="ptable-cell" style="text-align:center;width:100px;">
    <input pInputText [disabled]="rowData.approvedstatus=='Approved'?false:true" type="number" (change)="returnQtyChange(rowData.issuedquantity,rowData.returnqty)" class="form-control" [(ngModel)]="rowData.returnqty">
  </td>-->
                <!--<td class="ptable-cell" style="text-align:left">{{rowData.createddate | date :  constants.dateFormat}}</td>-->
              </tr>
            </ng-template>

          </p-table>
          <!--<p-footer>
            <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="returnqty()">Return Material</button>

          </p-footer>-->
        </p-dialog>
        <p-dialog header="Material Transfer Details" [(visible)]="AddDialogfortransfer" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '80vh','min-height':'250px'}" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '1024px'}">
          <div *ngIf="showdialogfortransfer">
            <div class="row  pl-0">
              <div class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading">
                <label>Request Id :</label>&nbsp;<span class="labeltext"><label>MATRQ{{materiallistData[0].requestid}}</label></span>
              </div>

            </div>

          </div>
          <p-table #dt [value]="materiallistData">
            <ng-template pTemplate="header">
              <tr class="mprltbldata">
                <th style="text-align:center;width:70px">Sl.No</th>
                <th style="text-align:center">Material</th>
                <th style="text-align:center;width:150px">Requested  Qty</th>
                <th style="text-align:center;width:150px">Issued Qty</th>
                <th style="text-align:center;width:150px">Transfer Qty</th>
                <th style="text-align:center;width:150px">To Project</th>
                <!--<th style="text-align:center;width:150px">Other</th>-->
              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
              <tr>
                <td class="ptable-cell" style="text-align:right">
                  {{ri+1}}
                </td>
                <td class="ptable-cell" style="text-align:left">{{rowData.materialid}}</td>
                <td class="ptable-cell" style="text-align:right">{{rowData.requestedquantity}}</td>
                <td class="ptable-cell" style="text-align:right">
                  {{rowData.issuedquantity}}

                </td>
                <td class="ptable-cell" style="text-align:center;width:100px;">
                  <input pInputText [disabled]="rowData.approvedstatus=='Approved'?false:true" type="number" (change)="returnQtyChange(rowData.issuedquantity,rowData.transferqty)" class="form-control" [(ngModel)]="rowData.transferqty">
                </td>

                <td>
                  <select class="form-control dropdown" #mySelect (change)="onChange(mySelect.value,ri)">
                    <option selected></option>
                    <option *ngFor=" let loclist of locationlist " value={{loclist.projectcode}}>
                      {{loclist.projectcode}}
                    </option>
                  </select>
                  <br />
                  <input pInputText id="{{ri+1}}" class="form-control" [(ngModel)]="rowData.projectname" type="text" required style="display:none;" />
                  <!--<input *ngIf="rowData.projectcode" [(ngModel)]="rowData.projectcode" class="form-control" type="text" name="{{rowData.projectcode}}" />

                  <p-autoComplete appendTo="body" [(ngModel)]="projectcode" id="{{ri+1}}"  (onSelect)="captureId($event,ri+1)" type="text" [suggestions]="searchItems"  field="name" [dropdown]="true" (completeMethod)="bindSearchListData($event,'project')" size="8"></p-autoComplete>-->
                </td>
                <!--<td class="ptable-cell" style="width:200px;">

                    <p-checkbox   binary="true" (onChange)="toggleVisibility($event,ri+1)"></p-checkbox> &nbsp;&nbsp;
                    <input pInputText id="{{ri+1}}"  class="form-control" [(ngModel)]="rowData.projectname" type="text" required style="display:none;" />


                </td>-->
                <!--<td class="ptable-cell" style="text-align:left">{{rowData.createddate | date :  constants.dateFormat}}</td>-->
              </tr>
            </ng-template>

          </p-table>
          <p-footer>
            <button type="button" class="btn btn-primary" [disabled]="btnDisabletransfer" (click)="transferqty()">Transfer Material</button>
            <!--<div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="Cancel()" label="OK"></button>
              <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
            </div>-->
          </p-footer>
        </p-dialog>
      </div>
    </div>

  </div>
</div>
<p-dialog header="Request Materials" [(visible)]="requestDialog" [responsive]="true" showEffect="fade" [modal]="true" (onHide)="close()" [style]="{'width':'98%','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label for="itemlocation" class="form-label">PONo.:</label>
      <div class="form-inline-list">

        <select *ngIf="requestMatData.suppliername==null || requestMatData.suppliername=='All'" class="form-control dropdown" (change)="onPOSelected(requestMatData.pono)" [(ngModel)]="requestMatData.pono">
          <option [ngValue]="All" selected>ALL</option>
          <option *ngFor=" let polist of ponolist " value={{polist.pono}}>
            {{polist.pono}}
          </option>
        </select>
        <label *ngIf="requestMatData.suppliername && requestMatData.suppliername!='All'">{{ponumber}}</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label for="itemlocation" class="form-label">Supplier Name:</label>
      <div class="form-inline-list">
        <select *ngIf="requestMatData.pono==null || requestMatData.pono=='All'" (change)="onsuppSelected(requestMatData.suppliername)" class="form-control dropdown" [(ngModel)]="requestMatData.suppliername">
          <option selected [ngValue]="All">ALL</option>
          <option *ngFor=" let polist of ponolist " value={{polist.pono}}>
            {{polist.suppliername}}
          </option>
        </select>
        <label *ngIf="requestMatData.pono && requestMatData.pono!='All'">{{suppliername}}</label>
      </div>
    </div>
    <div class="row " style="margin-top:10px">
      <div class="col-lg-12 col-md-12 col-sm-12">


        <p-table [value]="materialList" *ngIf="displayDD" [style]="{'width':'100%','overflow':'visible!important'}">
          <ng-template pTemplate="caption">
            Add Material
            <button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th class="ptable-cell" style="width:60px;text-align:center">Sl.No.</th>
              <!--<th class="ptable-cell">Material</th>-->
              <th style="text-align:center;width:250px;" class="ptable-cell">Material</th>
              <th style="text-align:center" class="ptable-cell">Material Description</th>
              <th style="text-align:center;width:130px;" class="ptable-cell">Price(INR)</th>
              <th style="text-align:center;width:150px;" class="ptable-cell">Available Qty</th>
              <th style="text-align:center;width:150px;" class="ptable-cell">Request Qty</th>
              <th style="text-align:center;width:60px;" class="ptable-cell"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
            <tr>
              <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>

              <td class="ptable-cell" style="text-align:left;">

                <!--<input *ngIf="rowData.materialid" [(ngModel)]="rowData.materialid" class="form-control" type="text" name="{{rowData.materialid}}" />-->
                <p-autoComplete [(ngModel)]="rowData.material" placeholder="search by name/code" type="text" appendTo="body" [forceSelection]="true" (onSelect)="onMaterialSelected1(rowData,ri)" [suggestions]="filteredmats" (completeMethod)="filtermats($event)" [size]="20"
                                [dropdown]="true"></p-autoComplete>

              </td>
              <td class="ptable-cell" style="text-align:left">
                {{rowData.materialdescription}}

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.materialcost" class="form-control" type="text" name="{{rowData.materialcost}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.availableqty" class="form-control" type="text" name="{{rowData.availableqty}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input style="text-align:left" pInputText type="number" (blur)="onComplete(rowData.quantity ,rowData.availableqty, rowData.materialid,ri)" class="form-control" [(ngModel)]="rowData.quantity">
              </td>



              <td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-danger" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid, ri)"></button></td>



          </ng-template>


        </p-table>

        <p-table [value]="materialList" *ngIf="displaylist" [style]="{'width':'97%','overflow':'visible!important'}">
          <ng-template pTemplate="caption">
            Update Request quantity for Materials
            <!--<button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"></button>-->
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th class="ptable-cell" style="width:60px;text-align:center">Sl.No.</th>
              <!--<th class="ptable-cell">Material</th>-->
              <th style="text-align:center;width:250px;" class="ptable-cell">Material</th>
              <th style="text-align:center" class="ptable-cell">Material Description</th>
              <th style="text-align:center;width:150px;" class="ptable-cell">Price(INR)</th>
              <th style="text-align:center;width:150px;" class="ptable-cell">Available Qty</th>
              <th style="text-align:center;width:150px;" class="ptable-cell">Request Qty</th>
              <!--<th style="text-align:center" class="ptable-cell"></th>-->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
            <tr>
              <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>

              <td class="ptable-cell" style="text-align:left;">
                {{rowData.material}}

                <!--<input *ngIf="rowData.material" [(ngModel)]="rowData.material" class="form-control" type="text" name="{{rowData.material}}" />-->
                <!--<p-autoComplete [(ngModel)]="rowData.material" type="text" appendTo="body" [suggestions]="searchItems" (onSelect)="onMaterialSelected(rowData.material,ri)" (completeMethod)="bindSearchList($event,'material')" [size]="10"
                [dropdown]="true"></p-autoComplete>-->


              </td>
              <td class="ptable-cell" style="text-align:left">
                {{rowData.materialdescription}}

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.materialcost" class="form-control" type="text" name="{{rowData.materialcost}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.availableqty" class="form-control" type="text" name="{{rowData.availableqty}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input style="text-align:left" pInputText type="number" (blur)="onComplete(rowData.quantity ,rowData.availableqty, rowData.materialid,ri)" class="form-control" [(ngModel)]="rowData.quantity">
              </td>



              <!--<td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid, ri)"></button></td>-->



          </ng-template>


        </p-table>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-lg-4 col-md-4 form-inline">
      <label>Select Project:</label>
      <p-autoComplete [(ngModel)]="selectedproject" field="text" appendTo="body" [suggestions]="filteredprojects" placeholder="search by name/code" [ngModelOptions]="{standalone: true}" [forceSelection]="true" (completeMethod)="filterprojects($event)" [size]="30"
                      [dropdown]="true"></p-autoComplete>
    </div>
    <div class="col-lg-6 col-md-6 form-inline">
      <textarea [(ngModel)]="requestremarks" style="width:80%;resize:none" placeholder="Remarks"></textarea>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" *ngIf="btnreq" pButton (click)="onSubmitReqData()" label="Submit"></button>
    </div>
  </p-footer>


</p-dialog>


