<div class="card" style="    min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Material Request List
    </span>
    <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backtoDashboard()" style="float: left;
    height: 26px;"></button>
  </div>
  <div class="card-body" style="overflow-y:scroll;">
    <div *ngIf="requestList.length>0">
      <div class="row " style="margin-top:0px">
        <div class="col-xs-2 col-md-2 pt-2" style="font-weight:600;font-size:14px;color:darkblue;">
          PO No : <span style="color:#dc3545;">{{requestList[0].pono}}</span>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 pt-2" style="font-weight:600;font-size:14px;color:darkblue;">
          Project Name : <span style="color:#dc3545;">{{requestList[0].projectname}}</span>
        </div>
      </div>
    </div>

    <br />
    <p-table #dt [value]="requestList">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">S.No</th>
          <!--<th style="text-align:center">Request Id</th>-->
          <!--<th style="text-align:center">PO No</th>
        <th style="text-align:center">Project Name</th>-->
          <th style="text-align:center;width:150px">Material</th>
          <th style="text-align:center;width:180px">Material Description</th>
          <th style="text-align:center;width:90px">Material Quantity</th>
          <th style="text-align:center;width:90px">Available Quantity</th>
          <th style="text-align:center;width:90px">Request Quantity</th>
          <!--<th style="text-align:center;width:200px">Acknowledge</th>-->
        </tr>
        <tr>
          <th></th>
          <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestforissueid', 'contains')"></th>-->
          <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>
        <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectname', 'contains')"></th>-->
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialqty', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestedquantity', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>
          <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'ackremarks', 'contains')"></th>-->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center">{{ri+1}}</td>
          <!--<td class="ptable-cell" style="text-align:center;width:100%;">-->
          <!--<a *ngIf="rowData.requestid" [routerLink]="['/WMS/MaterialIssue',rowData.requestid]" routerLinkActive="active">-->
          <!--<span *ngIf="rowData.requestid">{{rowData.requestid}}</span></td>-->
          <!--<td class="ptable-cell" style="text-align:center">{{rowData.pono}}</td>
        <td class="ptable-cell" style="text-align:left">{{rowData.projectname}}</td>-->
          <td class="ptable-cell" style="text-align:left">{{rowData.material}}</td>
          <td class="ptable-cell" style="text-align:left">{{rowData.materialdescription}}</td>
          <td class="ptable-cell" style="text-align:right">{{rowData.materialqty}}</td>
          <td class="ptable-cell" style="text-align:right">{{rowData.availableqty}}</td>
          <td class="ptable-cell" style="    text-align: right">

            <!--<span *ngIf="rowData.approvedstatus=='approved'">{{rowData.requestedquantity}}</span>-->

            <input *ngIf="rowData.approvedstatus!='approved'" style="text-align:right" pInputText type="number" class="form-control" [(ngModel)]="rowData.requestedquantity" (change)="reqQtyChange(rowData)">
          </td>

          <!--<td class="ptable-cell" style="text-align:center">
          <div *ngIf="rowData.approvedstatus=='approved'" class="form-inline">
            <p-checkbox [(ngModel)]="rowData.status" binary="true" (click)="ackStatusChanges()"></p-checkbox> &nbsp;&nbsp;
            <textarea type="text" style="width:140px" class="form-control" [(ngModel)]="rowData.ackremarks"></textarea>
          </div>
          <span *ngIf="rowData.ackstatus=='received'">{{rowData.ackremarks}}</span>
        </td>-->
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="requestList.length>0">
      <div style="text-align: center;margin-top:5px;">
        <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="onMaterialRequestDeatilsSubmit()">Material Request</button>
      </div>
      <div class="row">
        <!--<div *ngIf="showAck" class="col-lg-2 col-md-2 col-sm-2 " style="margin-top:5px;margin-bottom:5px">
      <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="materialAckUpdate()">Send Acknowledge</button>
    </div>-->
      </div>
    </div>
  </div>
  </div>
   
