<div class="card commoncardcss" style="margin:10px">

  <div class="card-header text-center">
    <div class="row">
      <div class="col-lg-4 col-md-4 form-inline">
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <span style="color:#428bca;font-size:18px" class="commonheadertext">
          <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Material Reserve Report
        </span>
      </div>
      <div class="col-lg-4 col-md-4 form-inline"></div>

    </div>
    <div class="row" style="margin-left: 0px !important;margin-right: 0px !important">
      <div class="col-lg-4 col-md-4 form-inline">
        <label class="labelheading">From Date :</label>&nbsp;&nbsp;
        <p-calendar class="mprldatepick" [(ngModel)]="fromDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050" dateFormat="dd/mm/yy"></p-calendar>
      </div>
      <div class="col-lg-4 col-md-4 form-inline">
        <label class="labelheading">To Date :</label>&nbsp;&nbsp;
        <p-calendar class="mprldatepick" [(ngModel)]="toDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050" dateFormat="dd/mm/yy"></p-calendar>
      </div>
      <div class="col-lg-4 col-md-4 form-inline">
        <button type="button" class="btn btn-success" (click)="getMaterialRequestlist()" label="Save">Search</button>
      </div>
    </div>
  </div>
  <div class="card-body"  style="overflow-y:hidden;padding:0px;margin-left:10px;margin-right:10px">
    <p-table #dt [value]="requestList" [style]="{'width':'100%'}" [scrollable]="true" scrollHeight="62vh">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th style="text-align:center;width:70px">Sl.No.</th>
          <th style="text-align:center;width:100px">Reserve Id</th>
          <th style="text-align:center;width:150px">Reserved On</th>
          <th style="text-align:center;width:150px">Reserved By</th>
          <th style="text-align:center;width:100px">Status</th>
          <th style="text-align:center;width:100px">Remarks</th>


        </tr>
        <tr>

          <th></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'reserveid', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'reservedon', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'reservedby', 'contains')"></th>
          <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'status', 'contains')"></th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell" style="text-align:center;width:70px;">{{ri+1}}</td>

          <td class="ptable-cell" style="text-align: center;width: 100px;">
            <span (click)="showattachdata(rowData)" class="btn btn-link">{{rowData.reserveid}}</span>
            <!--<span class="btn btn-link">MARES{{rowData.reserveid}}</span>-->

          </td>
          <td class="ptable-cell" style="text-align:center;width:150px;">{{rowData.reservedon | date :  constants.dateFormat}}</td>
          <td class="ptable-cell" style="text-align:center;width:150px;">
            <span *ngIf="rowData.reservedby">{{rowData.reservedby}}</span>
            <span *ngIf="!rowData.reservedby">-</span>
          </td>
          <td class="ptable-cell" style="text-align:center;width:100px;">

            {{rowData.status}}
            <span *ngIf="rowData.status=='received'">{{rowData.ackstatus}}</span>
            <span *ngIf="rowData.status===null">Pending</span>
          </td>
          <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.remarks}}</td>


        </tr>
        <tr *ngIf="rowData.showtr">
          <td [attr.colspan]="6" style="text-align:center;">
            <label class="labeltext">Material Details</label>
          </td>

        </tr>
        <tr *ngIf="rowData.showtr">
          <td [attr.colspan]="6" style="text-align:center;">

            <p-table [value]="rowData.materialdata" [style]="{'width':'100%'}">
              <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th class="ptable-cell" style="width: 10%; text-align: center">Sl. No.</th>
          <th style="text-align:center;width:30%" class="ptable-cell">Material</th>
          <th style="text-align:center;width:50%" class="ptable-cell">Material Description</th>
          <th style="text-align:center;width:20%" class="ptable-cell">Reserved quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
        <tr>
          <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>
          <td class="ptable-cell" style="text-align:center;">
            {{rowData.materialid}}
          </td>
          <td class="ptable-cell" style="text-align:center">
            {{rowData.materialdescription}}
          </td>
          <td class="ptable-cell" style="text-align:center">
            {{rowData.reservequantity}}
          </td>
      </ng-template>


    </p-table>
    </td>

    </tr>
    </ng-template>
    </p-table>



    <div style="height: 5px; overflow-y: scroll">


      <!--<p-dialog header={{GatepassTxt}} [(visible)]="gatepassdialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'98vw','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
        <div class="row">
          <div class="col-lg-6 col-md-6 form-inline">
            <label class="labelheading">Transfer to :</label>&nbsp;
            <p-autoComplete [(ngModel)]="selectedproject" field="text" appendTo="body" [suggestions]="filteredprojects" placeholder="search by name/code" [ngModelOptions]="{standalone: true}" [forceSelection]="false" (completeMethod)="filterprojects($event)" [size]="30"
                            [dropdown]="true">
            </p-autoComplete>
          </div>
          <div class="col-lg-6 col-md-6 form-inline">
            <textarea [(ngModel)]="transferremarks" style="width:80%" placeholder="Remarks"></textarea>
          </div>

        </div>
        <div class="row " style="margin-top:10px">


          <div class="col-lg-12 col-md-12 col-sm-12">


            <p-table [value]="materialtransferdetil" [style]="{'width':'99%','height':'500px','overflow':'visible!important'}">
              <ng-template pTemplate="caption">


              </ng-template>
              <ng-template pTemplate="header">
                <tr class="mprltbldata">
                  <th class="ptable-cell" style="width: 7%; text-align: center">Sl. No.</th>
                  <th style="text-align:center;width:28%" class="ptable-cell">Material</th>
                  <th style="text-align:center;width:40%" class="ptable-cell">Material Description</th>
                  <th style="text-align:center;width:15%" class="ptable-cell">Transfer quantity</th>
                  <th style="text-align:center;width:10%" class="ptable-cell"><button type="button" class="btn btn-primary btn-sm" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"><i class="fa fa-plus"></i></button></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
                <tr>
                  <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>
                  <td class="ptable-cell" style="text-align:left;">-->
                    <!--<input *ngIf="rowData.material" [(ngModel)]="rowData.material" class="form-control" type="text" name="{{rowData.materialid}}" />-->
                    <!--<p-autoComplete [(ngModel)]="rowData.materialid" (onSelect)="onMaterialSelected(rowData,ri)" appendTo="body" [suggestions]="filteredmaterial" placeholder="search by name/code" [forceSelection]="true" (completeMethod)="filtermaterials($event)" [size]="30"
                                    [dropdown]="true"></p-autoComplete>-->
                    <!--<p-autoComplete appendTo="body" [style]="{'width' : '100%'}" (onSelect)="onMaterialSelected(rowData,ri)" [(ngModel)]="rowData.materialid" type="text" [suggestions]="searchItems" field="name" [dropdown]="true" (completeMethod)="bindSearchListDatamaterial($event,'material')" size="8"></p-autoComplete>-->
                  <!--</td>
                  <td class="ptable-cell" style="text-align:right">
                    <input style="text-align:left" pInputText type="text" readonly class="form-control" [(ngModel)]="rowData.materialdescription">
                  </td>
                  <td class="ptable-cell" style="text-align:right">
                    <input style="text-align:left" pInputText type="number" class="form-control" (change)="checkqty(rowData.transferredqty,rowData)" [(ngModel)]="rowData.transferredqty">
                  </td>





                  <td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.materialid, ri)"></button></td>


              </ng-template>


            </p-table>
          </div>
        </div>

        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="transfermaterial()" label="Submit"></button>
          </div>
        </p-footer>
      </p-dialog>-->
    </div>
  </div>

</div>

