<div style="margin:10px">

  <div class="card" style="max-height:82vh;min-height:82vh;border-radius: 10px;box-shadow: 5px 10px #888888;">
    <div class="card-header text-center cardheadertext">
      <div class="row " style="    margin-top: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">

          <p-button icon="fa fa-user-plus" label="Reserve Material" (click)="reserveMaterial()"></p-button>



        </div>
        <div class="col-lg-4 col-md-4 text-center">

          <span>
            <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Reserved Material List
          </span>

        </div>
        <div class="col-lg-4 col-md-4 form-inline">

        </div>


      </div>

    </div>
    <!--<div class="card-header text-center cardheadertext">
      <span>
        <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Reserved Material List
      </span>
    </div>
    <div class="card-header" style="width:237px;height:27px;margin-left:41px;padding-top:0px">
      <span>
        <i class="fa fa-bookmark" style="font-size: 15px"></i><label style="font-size: 15px;padding:0px; color: rgb(96, 123, 212);"> &nbsp;&nbsp;Material Reserve</label>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" pTooltip="Reserve Material" style="border-radius: 10em!important;background-color: white; border-color:  rgb(96, 123, 212);" rounded="true" size="lg" class="my-0" (click)="reserveMaterial()"> <i class="fa fa-user-plus" style="font-size: 15px;color: green;"></i></button>

      </span>
    </div>-->
    <div class="card-body" style="overflow-y: hidden;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px">
      <p-table #dt1 [value]="reserveList" [style]="{'width':'100%'}" [scrollable]="true" scrollHeight="55vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:100px">Reserve Id</th>
            <th style="text-align:center;width:150px">Reserved On</th>
            <th style="text-align:center;width:150px">Reserved Upto</th>
            <th style="text-align:center;width:150px">Status</th>
          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'reserveid', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'reservedon', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'reserveupto', 'contains')"></th>
            <th><input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'chkstatus', 'startsWith')"></th>
           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr class="mprltbltddata">
            <td class="ptable-cell" style="text-align:center;width:70px">{{ri+1}}</td>
            <td class="ptable-cell" style="text-align:center;width:100px;">
              <button type="button" class="btn btn-link" (click)="showmaterialdetails(rowData.reserveid,rowData);" style="padding-left:0px;">MATRV{{rowData.reserveid}}</button>
            </td>
            <!--<td class="ptable-cell" style="text-align:center;width:150px">{{rowData.pono}}</td>
            <td class="ptable-cell" style="text-align:left">{{rowData.projectname}}</td>-->
            <td class="ptable-cell" style="text-align:center;width:150px">{{rowData.reservedon| date :  constants.dateFormat}}</td>
            <td class="ptable-cell" style="text-align:center;width:150px">{{checkValiddate(rowData.reserveupto)}}</td>
            <!--<td class="ptable-cell">
              <div *ngIf="rowData.approvedstatus=='approved'" class="form-inline">
                <p-checkbox [(ngModel)]="rowData.status" binary="true" (click)="ackStatusChanges()"></p-checkbox> &nbsp;&nbsp;
                <textarea type="text" style="width:140px" class="form-control" [(ngModel)]="rowData.ackremarks"></textarea>
              </div>
            </td>-->

            <td class="ptable-cell" style="text-align:center;width:150px">
              <span *ngIf="rowData.chkstatus == 'Reserved'" style="color:blue" [innerText]="getstatus(rowData)"></span>
              <span *ngIf="rowData.chkstatus == 'Requested'" style="color:green" [innerText]="getstatus(rowData)"></span>
              <span *ngIf="rowData.chkstatus == 'Expired'" style="color:red" [innerText]="getstatus(rowData)"></span>
              <span *ngIf="rowData.ackstatus=='received'" [innerText]="getstatus(rowData)"></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br />
      <br />
      <div>
        <div class="row">
          <div class="col-lg-5 col-md-5">
          </div>
          <!--<div class="col-lg-2 col-md-2 col-sm-2 " style="margin-top:5px;margin-bottom:5px">
            <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="onMaterialRequestDeatilsSubmit()">Material Request</button>
          </div>-->
          <div *ngIf="showAck" class="col-lg-2 col-md-2 col-sm-2 " style="margin-top:0px;margin-bottom:5px">
            <button type="button" class="btn btn-primary" [disabled]="btnDisable" (click)="materialAckUpdate()">Send Acknowledge</button>
          </div>
        </div>
      </div>
      <div style="height: 5px; overflow-y: scroll">

        <p-dialog header="Material Reserved Details" [(visible)]="AddDialog" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '80vh','min-height':'250px'}" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '80vw'}">
          <div *ngIf="showdialog">
            <div class="row  pl-0">
              <div class="col-lg-3 col-md-3 col-sm-4 pt-2 labelheading">
                <label>Reserved Id :</label>&nbsp;<span><label class="labeltext">MATRV{{reserveidview}}</label></span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 pt-2 labelheading">
                <label>Reserved Upto :</label>&nbsp;<span><label class="labeltext">{{checkValiddate(reserveduptoview)}}</label></span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 pt-2 labelheading" *ngIf="isrequested">
                <label>Requested By :</label>&nbsp;<span><label class="labeltext">{{requestedbyview}}</label></span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 pt-2 labelheading" *ngIf="isrequested">
                <label>Requested On :</label>&nbsp;<span><label class="labeltext">{{requestedonview | date : 'dd/MM/yyyy'}}</label></span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 pt-2 labelheading" *ngIf="!isrequested">
                <label>Status :</label>&nbsp;<span><label class="labeltext">{{statusview}}</label></span>
              </div>
            </div>
          </div>
          <p-table #dt [value]="materiallistData">
            <ng-template pTemplate="header">
              <tr class="mprltbldata">
                <th style="text-align:center;width:70px">S.No</th>
                <th style="text-align:center">Material</th>
                <th style="text-align:center;width:200px">Reserved  Qty</th>
                <!--<th style="text-align:center">Released Qty</th>-->
              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
              <tr>
                <td class="ptable-cell" style="text-align:right">
                  {{ri+1}}
                </td>
                <td class="ptable-cell" style="text-align:left">{{rowData.materialid}}</td>
                <td class="ptable-cell" style="text-align:right">{{rowData.reservedqty}}</td>
                <!--<td class="ptable-cell" style="text-align:left">
                  {{rowData.releasedquantity}}
                </td>-->
                <!--<td class="ptable-cell" style="text-align:left">{{rowData.createddate | date :  constants.dateFormat}}</td>-->
              </tr>
            </ng-template>

          </p-table>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" *ngIf="showreservebtn">
              <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="Request()" label="Request"></button>
            </div>

          </p-footer>

        </p-dialog>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Reserve Materials" [(visible)]="requestDialog" [responsive]="true" showEffect="fade" [modal]="true" (onHide)="close()" [style]="{'width':'85%','overflow':'auto!important','margin-right': '0px','margin-left':'0px'}">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label for="itemlocation" class="form-label">PONo.:</label>
      <div class="form-inline-list">

        <select *ngIf="requestMatData.suppliername==null || requestMatData.suppliername=='All'" class="form-control dropdown" (change)="onPOSelected(requestMatData.pono)" [(ngModel)]="requestMatData.pono">
          <option [ngValue]="All"  selected>ALL</option>
          <option *ngFor=" let polist of ponolist " value={{polist.pono}}>
            {{polist.pono}}
          </option>
        </select>
        <label *ngIf="requestMatData.suppliername && requestMatData.suppliername!='All'">{{ponumber}}</label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-group">
      <label for="itemlocation" class="form-label">Supplier Name:</label>
      <div class="form-inline-list">
        <select *ngIf="requestMatData.pono==null || requestMatData.pono=='All'" (change)="onsuppSelected(requestMatData.suppliername)" class="form-control dropdown" [(ngModel)]="requestMatData.suppliername">
          <option [ngValue]="All" selected>ALL</option>
          <option *ngFor=" let polist of ponolist " value={{polist.pono}}>
            {{polist.suppliername}}
          </option>
        </select>
        <label *ngIf="requestMatData.pono && requestMatData.pono!='All'">{{suppliername}}</label>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4  col-md-4 pt-2" style="font-weight:600;font-size:14px;color:darkblue;">
      Reserve Upto : <input type="date"  [value]="reservedfor |  date:'yyyy-MM-dd'" min={{mindate}} max={{maxdate}} (input)="reservedfor=parseDate($event.target.value)">
    </div>
    <div class="row " style="margin-top:10px">
      <div class="col-lg-12 col-md-12 col-sm-12">

        <p-table [value]="materialList" *ngIf="displayDD" [style]="{'width':'97%','height':'500px','overflow':'visible!important'}">
          <ng-template pTemplate="caption">
            Add Material
            <button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th class="ptable-cell" style="width:60px;text-align:center">Sl.No.</th>
              <!--<th class="ptable-cell">Material</th>-->
              <th style="text-align:center" class="ptable-cell">Material</th>
              <th style="text-align:center" class="ptable-cell">Price(INR)</th>
              <th style="text-align:center" class="ptable-cell">Available Qty</th>
              <th style="text-align:center" class="ptable-cell">Request Qty</th>
              <th style="text-align:center" class="ptable-cell"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
            <tr>
              <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>

              <td class="ptable-cell" style="text-align:left;">

                <!--<input *ngIf="rowData.materialid" [(ngModel)]="rowData.materialid" class="form-control" type="text" name="{{rowData.materialid}}" />-->

                <p-autoComplete [(ngModel)]="rowData.material" type="text" appendTo="body" [suggestions]="searchItems" (onSelect)="onMaterialSelected(rowData.material,ri)" (completeMethod)="bindSearchList($event,'material')" [size]="10"
                                [dropdown]="true"></p-autoComplete>


              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.materialcost" class="form-control" type="text" name="{{rowData.materialcost}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.availableqty" class="form-control" type="text" name="{{rowData.availableqty}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input style="text-align:left" pInputText type="number" (blur)="onComplete(rowData.quantity ,rowData.availableqty, rowData.materialid,ri)" class="form-control" [(ngModel)]="rowData.quantity">
              </td>



              <td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid, ri)"></button></td>



          </ng-template>


        </p-table>

        <p-table [value]="materialList" *ngIf="displaylist" [style]="{'width':'97%','height':'500px','overflow':'visible!important'}">
          <ng-template pTemplate="caption">
            Update Reserve quantity for Materials
            <!--<button type="button" icon="fa fa-plus" pButton aria-hidden="true" pTooltip="Add material" (click)="addNewMaterial()" style="float: right;height: 26px;"></button>-->
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th class="ptable-cell" style="width:60px;text-align:center">Sl.No.</th>
              <!--<th class="ptable-cell">Material</th>-->
              <th style="text-align:center" class="ptable-cell">Material</th>
              <th style="text-align:center" class="ptable-cell">Price(INR)</th>
              <th style="text-align:center" class="ptable-cell">Available Qty</th>
              <th style="text-align:center" class="ptable-cell">Reserve Qty</th>
              <!--<th style="text-align:center" class="ptable-cell"></th>-->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
            <tr>
              <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>

              <td class="ptable-cell" style="text-align:left;">
                {{rowData.material}}

                <!--<input *ngIf="rowData.material" [(ngModel)]="rowData.material" class="form-control" type="text" name="{{rowData.material}}" />-->
                <!--<p-autoComplete [(ngModel)]="rowData.material" type="text" appendTo="body" [suggestions]="searchItems" (onSelect)="onMaterialSelected(rowData.material,ri)" (completeMethod)="bindSearchList($event,'material')" [size]="10"
          [dropdown]="true"></p-autoComplete>-->


              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.materialcost" class="form-control" type="text" name="{{rowData.materialcost}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input [disabled]="true" [(ngModel)]="rowData.availableqty" class="form-control" type="text" name="{{rowData.availableqty}}" />

              </td>
              <td class="ptable-cell" style="text-align:right">
                <input style="text-align:left" pInputText type="number" (blur)="onComplete(rowData.quantity ,rowData.availableqty, rowData.materialid,ri)" class="form-control" [(ngModel)]="rowData.quantity">
              </td>



              <!--<td class="ptable-cell" style="text-align:center"><button pButton type="button" icon="fa fa-trash" class="ui-button-info" style="margin-left: 1px;" (click)="removematerial(rowData.gatepassmaterialid, ri)"></button></td>-->



          </ng-template>


        </p-table>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" *ngIf="btnreq" pButton (click)="onSubmitReqData()" label="Submit"></button>
    </div>
  </p-footer>


</p-dialog>
