<div class="card" style="    min-height: 520px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span>
      <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Material Return Dashboard
    </span>
  </div>
  <br />
  <div class="row">

    <div class="col-lg-1 col-md-1 col-sm-1 form-group">
      <h6><label class="form-label">Status:</label></h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-group" style="padding-left:0px;">
      <select placeholder="Status" name="Status" (change)="onSelectStatus($event)" class="form-control">
        <option selected value="Pending"> Pending</option>
        <option value="Accepted"> Accepted</option>
      </select>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 form-group" style="padding-left:0px;">
      <button type="submit" class="btn btn-info float-left" (click)="SubmitStatus()" style=" height: 35px;">Submit</button>
    </div>
  </div>
  <div class="card-body" style="overflow-y:hidden;padding:0px;">
    <div class="form-control" style="height:100%;">
      <p-table #dt [value]="materialIssueList" [scrollable]="true" scrollHeight="380px">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:100px">Request Id</th>
            <th style="text-align:center">Material</th>
            <th style="text-align: center;width:150px">Returned On</th>
            <th style="text-align:center;width:300px">Requester Name</th>

          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requestforissueid', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'requesteddate', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'name', 'contains')"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right;width:70px;">
              {{ri+1}}
            </td>
            <td class="ptable-cell" style="text-align:center;width:100px;">
              <button type="button" class="btn btn-link" (click)="showmaterialdetails(rowData.returnid);" style="padding-left:0px;">{{rowData.returnid}}</button>
            </td>
            <td class="ptable-cell" style="text-align:left;">{{rowData.materialid}}</td>
            <td class="ptable-cell" style="text-align:center;width:150px;">{{rowData.createdon  | date :  constants.dateFormat}}</td>
            <td class="ptable-cell" style="text-align:left;width:300px;">{{rowData.name}}</td>

          </tr>
        </ng-template>
      </p-table>
    </div>
    <div style="height: 5px; overflow-y: scroll">

      <p-dialog   *ngIf="AddDialog" header="Material Return Details" [(visible)]="AddDialog" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '80vh','min-height':'250px'}" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '1024px'}">
        <div *ngIf="showdialog">
          <div class="row  pl-0">
            <div  class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading">
              <label>Request Id :</label>&nbsp;<span class="labeltext"><label>{{materiallistData[0].returnid}}</label></span>
            </div>

          </div>

        </div>
        <p-table #dt [value]="materiallistData">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th style="text-align:center;width:70px">S.No</th>
              <th style="text-align:center">Material</th>
              <!--<th style="text-align:center;width:150px">Requested  Qty</th>
      <th style="text-align:center;width:150px">Issued Qty</th>-->
              <th style="text-align:center;width:150px">Return Qty</th>
              <th style="text-align:center;width:150px">Item Loaction</th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr>
              <td class="ptable-cell" style="text-align:right">
                {{ri+1}}
              </td>
              <td class="ptable-cell" style="text-align:left">{{rowData.materialid}}</td>
              <!--<td class="ptable-cell" style="text-align:right">{{rowData.requestedquantity}}</td>
    <td class="ptable-cell" style="text-align:right">
      {{rowData.issuedqty}}

    </td>-->

              <td class="ptable-cell" style="text-align:right">{{rowData.returnqty}}</td>
              <td>
                <select class="form-control dropdown" #mySelect (change)="onChange(mySelect.value,ri)">
                  <option></option>
                  <option value="other">other</option>
                  <option *ngFor=" let loclist of locationlist" value={{loclist.itemlocation}}>
                    {{loclist.itemlocation}}
                  </option>
                </select>
                <br />

              </td>
              <!--<td class="ptable-cell" style="text-align:right">{{rowData.itemlocation}}</td>-->
            </tr>
            <tr id="nodefaultloaction" style="margin-top:10px;display:none;padding-left:300px;">
             
              <td class="ptable-cell" style="text-align:right;width:100px">
                <label for="itemlocation" class="form-label">Select Location</label>

                <select style="width:100px;" class="form-control dropdown" [(ngModel)]="StockModel.locatorid">
                  <option selected></option>
                  <option *ngFor=" let loclist of locationlists " value={{loclist.locatorid}}>
                    {{loclist.locatorname}}
                  </option>
                </select>
              </td>
              
              <td class="ptable-cell" style="text-align:right;width:100px">
                <label for="rackid" class="form-label">Select Rack</label>


                <select style="width:100px;" class="form-control dropdown" [(ngModel)]="StockModel.rackid">

                  <option selected value="*ngIf=rackid"></option>
                  <option *ngFor=" let loclist of racklist " value={{loclist.rackid}}>
                    {{loclist.racknumber}}
                  </option>
                </select>
              </td>
              <td class="ptable-cell" style="text-align:right;width:100px">
                <label for="rackid" class="form-label">Select Bin</label>
                <select style="width:100px;" class="form-control dropdown" [(ngModel)]="StockModel.binid">

                  <option selected></option>
                  <option *ngFor=" let loclist of binlist" value={{loclist.binid}}>
                    {{loclist.binnumber}}
                  </option>
                </select>
              </td>
            </tr>
          </ng-template>
         
        
        </p-table>
        <p-footer>
          <button type="button" class="btn btn-primary" *ngIf="materiallistData[0].confirmstatus==null" [disabled]="btnDisable" (click)="ConfirmReturnmaterial()">Confirm</button>
          <!--<div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="Cancel()" label="OK"></button>
          <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
        </div>-->
        </p-footer>
      </p-dialog>
    </div>
  </div>
  </div>

   
