<div class="card" style="min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
  <div class="card-header text-center cardheadertext">
    <span><i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Miscellanous Receipts</span>
  </div>
  <div class="card-body" style="overflow-y:hidden;padding:0px;margin-left:40px;margin-right:40px">
    <button type="submit" pButton class="ui-button-primary mt-2" (click)="showReceiptsDialog()" label="Add Miscellanous Receipt"></button>
    <div class="mt-2">
      <p-table #dt [value]="ReceiptsList">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">S.No</th>
            <th style="text-align:center;width:150px">Material</th>
            <th style="text-align:center;width:180px">Material Description</th>
            <th style="text-align:center;width:90px">Storage Location</th>
            <th style="text-align:center;width:90px">Available Quantity</th>
            <th style="text-align:center;width:90px">Value</th>
            <th style="text-align:center;width:90px">Received On</th>
          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'itemlocation', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'value', 'contains')"></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:center">{{ri+1}}</td>
            <td class="ptable-cell" style="text-align:left">{{rowData.material}}</td>
            <td class="ptable-cell" style="text-align:left">{{rowData.materialdescription}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.itemlocation}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.availableqty}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.value}}</td>
            <td class="ptable-cell" style="text-align: center">{{rowdata.createddate}} </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog header="Miscellanous Receipt" [(visible)]="displayReceiptsDialog" showEffect="fade" [modal]="true" [style]="{width: '80%'}">
  <form [formGroup]="CreateMis">
    <div class="row m-2">
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Material :</label>
        <div class="form-inline-list">
          <p-autoComplete formControlName="material" [(ngModel)]="MisData.material" type="text" appendTo="body" [forceSelection]="true" [suggestions]="searchItems" (completeMethod)="bindSearchListData($event,'ItemId')" [size]="15" [dropdown]="true"></p-autoComplete>
          <span *ngIf="isSubmit && CreateMis.controls.material.errors" class="invalid-feedback">Enter Material Id.</span>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Po Item Description:</label>
        <div class="form-inline-list">
          <input type="text" class="form-control" formControlName="poitemdescription" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.poitemdescription.errors}" [(ngModel)]="MisData.poitemdescription">
          <span *ngIf="isSubmit && CreateMis.controls.poitemdescription.errors" class="invalid-feedback">Enter PO Item Description.</span>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Quantity:</label>
        <div class="form-inline-list">
          <input type="text" class="form-control" formControlName="availableqty" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.availableqty.errors}" [(ngModel)]="MisData.availableqty">
          <span *ngIf="isSubmit && CreateMis.controls.availableqty.errors" class="invalid-feedback">Enter Quantity.</span>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Value:</label>
        <div class="form-inline-list">
          <input type="text" class="form-control" formControlName="value" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.value.errors}" [(ngModel)]="MisData.value">
          <span *ngIf="isSubmit && CreateMis.controls.value.errors" class="invalid-feedback">Enter value.</span>
        </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Store:</label>
        <div class="form-inline-list">
          <select [(ngModel)]="MisData.storeid" class="form-control dropdown" formControlName="storeid" (change)="onlocUpdate()" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.storeid.errors}">
            <option value=null>Select</option>
            <option *ngFor=" let loclist of locationlists" value={{loclist.locatorid}}>
              {{loclist.locatorname}}
            </option>
          </select>
          <span *ngIf="isSubmit && CreateMis.controls.storeid.errors" class="invalid-feedback">Select Store.</span>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Rack:</label>
        <div class="form-inline-list">
          <select class="form-control dropdown" formControlName="rackid" (change)="onrackUpdate()" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.rackid.errors}" [(ngModel)]="MisData.rackid">
            <option value=null>Select</option>
            <option *ngFor=" let loclist of racklist " value={{loclist.rackid}}>
              {{loclist.racknumber}}
            </option>
          </select>
          <span *ngIf="isSubmit && CreateMis.controls.rackid.errors" class="invalid-feedback">Select Rack.</span>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">Bin:</label>
        <div class="form-inline-list">
          <select [(ngModel)]="MisData.binid" class="form-control dropdown" formControlName="binid" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.binid.errors}">
            <option value=null>Select</option>
            <option *ngFor=" let loclist of binlist" value={{loclist.binid}}>
              {{loclist.binnumber}}
            </option>
          </select>
          <span *ngIf="isSubmit && CreateMis.controls.binid.errors" class="invalid-feedback">Select Bin.</span>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading"> Project Id:</label>
        <div class="form-inline-list">
          <input type="text" class="form-control" formControlName="projectid" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.projectid.errors}" [(ngModel)]="MisData.projectid">
          <span *ngIf="isSubmit && CreateMis.controls.projectid.errors" class="invalid-feedback">Select Store.</span>
        </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="labelheading">PO No:</label>
        <div class="form-inline-list">
          <input type="text" class="form-control" formControlName="pono" [ngClass]="{ 'is-invalid': isSubmit && CreateMis.controls.pono.errors}" [(ngModel)]="MisData.pono">
          <span *ngIf="isSubmit && CreateMis.controls.pono.errors" class="invalid-feedback">Select Store.</span>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="submit" pButton icon="fa fa-check" class="ui-button-primary" (click)="onSubmit()" label="Submit"></button>&nbsp;&nbsp;
      <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="dialogCancel('displayReceiptsDialog')" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>


