<div *ngIf="!showMatDetails">
  <div class="card commoncardcss">
    <div class="card-header commoncardheader">
      <div class="row " style="margin-top: 10px;margin-left: 0px !important;margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
          <div class="form-inline">
            <label class="labelheading">Status :</label>&nbsp;&nbsp;
            <select placeholder="Status" name="Status" [ngModel]="selectedStatus" (change)="onSelectStatus($event)" class="form-control">
              <option value="Pending"> Pending</option>
              <option value="Issued"> Issued</option>
              <option value="On Hold">On Hold</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span style="color:#428bca;font-size:18px" class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Intra Unit Transfer Requests
          </span>
        </div>
        <div class="col-lg-4 col-md-4 form-inline"></div>
      </div>
    </div>

    <div class="card-body" style="overflow-y:hidden;padding:0px;margin-left:10px;margin-right:10px">
      <div class="form-control" style="height:100%;">
        <p-table #dt [value]="FilteredSTORequestList" [scrollable]="true" scrollHeight="60vh">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th style="text-align:center;width:70px">Sl.No.</th>
              <th style="text-align:center;width:100px">STO No.</th>
              <th style="text-align:center;width:100px">Material Type</th>
              <th style="text-align: center;width:150px">Requested By</th>
              <th style="text-align:center;width:100px">Source Location</th>
              <th style="text-align:center;width:100px">Requester Location</th>
              <th style="text-align:center;width:100px">Requested On</th>
              <th *ngIf="selectedStatus=='Issued'" style="text-align:center;width:100px">Issued On</th>
              <th style="text-align:center;width:190px"></th>
              <!--<th *ngIf="selectedStatus=='Pending'" style="text-align:center;width:90px"></th>-->
            </tr>
            <tr>
              <th></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferid', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialtype', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferredby', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'sourceplant', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'destinationplant', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferredon', 'contains')"></th>
              <th *ngIf="selectedStatus=='Issued'"></th>
              <th></th>
              <!--<th *ngIf="selectedStatus=='Pending'"></th>-->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr>
              <td class="ptable-cell" style="text-align:center;width:70px;">
                {{ri+1}}
              </td>
              <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.transferid}}</td>
              <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.materialtype}}</td>
              <td class="ptable-cell" style="text-align:center;width:150px;">{{rowData.transferredby}}</td>
              <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.sourceplant}}</td>
              <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.destinationplant}}</td>
              <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.transferredon  | date :  constants.dateFormat}}</td>
              <td *ngIf="selectedStatus=='Issued'" class="ptable-cell" style="text-align:center;width:100px;">{{rowData.issuedon  | date :  constants.dateFormat}}</td>
              <td class="ptable-cell" style="text-align:center;width:190px;">
                <button type="button" style="font-size:12px" class="btn btn-success" *ngIf="(rowData.status=='Pending' || !rowData.status) && !rowData.isporequested || selectedStatus=='On Hold'" (click)="navigateToMatIssue(rowData)">Issue</button>
                <button type="button" style="font-size:12px" class="btn btn-primary" *ngIf="rowData.status=='Issued' || rowData.isporequested || selectedStatus=='Rejected'" (click)="navigateToMatIssue(rowData)">View</button>
                <button type="button" style="font-size:12px" class="btn btn-warning" *ngIf="(rowData.status=='Pending' || !rowData.status) && !rowData.isporequested" (click)="holdreject(rowData,'On Hold')">Hold</button>
                <button type="button" style="font-size:12px" class="btn btn-danger" *ngIf="((rowData.status=='Pending' || !rowData.status) && !rowData.isporequested) || selectedStatus=='On Hold'" (click)="holdreject(rowData,'Rejected')">Reject</button>
              </td>
              <!--<td *ngIf="selectedStatus=='Pending'" class="ptable-cell" style="text-align:center;width:90px;"><button type="button" [disabled]="rowData.isporequested==true?true:false" style="font-size:12px" [ngClass]="rowData.isporequested==true ? 'btn btn-secondary' : 'btn btn-success'" (click)="navigateToPOInitiate(rowData)">Initiate PO</button></td>-->
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showMatDetails && showavailableStock">
  <div class="card" style="min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
    <div class="card-header text-center cardheadertext">
      <span>
        <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Intra Unit Transfer Material Issue
      </span>
      <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backtoDashboard()" style="float: left;
    height: 26px;"></button>
    </div>
    <div class="card-body" style="overflow-y:scroll">
      <div *ngIf="this.materialissueList.length>0">
        <div class="row  pl-0">
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>STO No:</label>&nbsp;<span><label class="labeltext">{{transferId}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>Requested By:</label>&nbsp;<span><label class="labeltext">{{requestedBy}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>Source Location:</label>&nbsp;<span><label class="labeltext">{{source}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>Destination Location:</label>&nbsp;<span><label class="labeltext">{{destination}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading" *ngIf="!isplantstockrequest">
            <label>Project:</label>&nbsp;<span><label class="labeltext">{{pcode}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading" *ngIf="!isplantstockrequest">
            <label>Material Type:</label>&nbsp;<span><label class="labeltext">Project</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading" *ngIf="isplantstockrequest">
            <label>Material Type:</label>&nbsp;<span><label class="labeltext">Plant</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>Status:</label>&nbsp;<span><label class="labeltext">{{lblstatus}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>Remarks:</label>&nbsp;<span><label class="labeltext">{{lblstatusramarks}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading" *ngIf="lblstatus == 'On Hold' || lblstatus == 'Rejected'">
            <label>{{lblstatus}} By:</label>&nbsp;<span><label class="labeltext">{{lblonholdrejectedby}}</label></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading" *ngIf="lblstatus == 'On Hold' || lblstatus == 'Rejected'">
            <label>{{lblstatus}} On:</label>&nbsp;<span><label class="labeltext">{{lblonholdrejectedon}}</label></span>
          </div>

        </div>
      </div>
      <p-table #dt [value]="materialissueList">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:150px;">PONo</th>
            <th style="text-align:center;width:200px;">Material</th>
            <th style="text-align:center">PO Item Description</th>
            <th style="text-align:center;width:150px">Request Quantity</th>
            <!--<th style="text-align:center;width:150px">Available Quantity</th>-->
            <th style="text-align:center;width:150px">Issue Quantity</th>
            <!--<th style="text-align:center" *ngIf="viewprocess">PO Quantity</th>-->
          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'startsWith')"></th>
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>-->
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'poitemdescription', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferqty', 'contains')"></th>
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>-->
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'issuedqty', 'contains')"></th>
            <!--<th *ngIf="viewprocess"></th>-->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right">
              {{ri+1}}
            </td>
            <td class="ptable-cell" style="text-align:center;width:150px;">
              {{rowData.pono}}
            </td>
            <td class="ptable-cell" style="text-align:left;width:200px;">
              <button type="button" class="btn btn-link" *ngIf="selectedStatus!='Rejected'"  (click)="showmateriallocationList(rowData.materialid,ri+1,ri,rowData.transferqty,rowData.issuedqty,rowData.poitemdescription,rowData.id,rowData.pono);" style="padding-left:0px;">{{rowData.materialid}}</button>
              <span *ngIf="selectedStatus=='Rejected'">{{rowData.materialid}}</span>
            </td>
            <td class="ptable-cell" style="text-align:left">{{rowData.poitemdescription}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.transferqty}}</td>
            <!--<td class="ptable-cell" style="text-align:right" *ngIf="rowData.availableqty && rowData.availableqty > 0">
    <span>{{rowData.availableqty}}</span>
  </td>
  <td class="ptable-cell" style="text-align:right" *ngIf="!rowData.availableqty || rowData.availableqty === 0">
    <span>0</span>
  </td>-->
            <td class="ptable-cell">
              <input id={{ri+1}} pInputText type="number" style="text-align:right" class="form-control" [disabled]="txtDisable" [(ngModel)]="rowData.issuedqty">
            </td>
            <!--<td *ngIf="viewprocess" style="text-align:right">
    {{rowData.poqty}}
  </td>-->
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <span *ngIf="materialissueList.length==0" style="color:red">No Available Quantity to Issue</span>
        </ng-template>
      </p-table>
      <br />
      <br />
      <!--<div *ngIf="rowData.approvedstatus=='Approved'" style="text-align: center;margin-top:5px;">
        <input *ngIf="btndisable" class="btn btn-primary" (click)="onMaterialIssueDeatilsSubmit()" type="button" value="Submit">
      </div>-->
      <div style="text-align: center;margin-top:5px;">
        <input *ngIf="btndisable" class="btn btn-primary" (click)="onMaterialIssueDeatilsSubmit()" type="button" value="Submit">
      </div>
    </div>
  </div>
  <div style="height: 5px; overflow-y: scroll">

    <p-dialog header="Item Location" [(visible)]="AddDialog" [contentStyle]="{'overflow-y': 'scroll', 'overflow-x': 'hidden', 'max-height': '350px','min-height':'350px'}" showEffect="fade" [modal]="true" [responsive]="true" [style]="{width: '1320px'}">
      <div *ngIf="showdialog && itemlocationData && itemlocationData.length>0">
        <div class="row  pl-0">
          <div class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading">
            <label>Material Id :</label>&nbsp;<span><label class="labeltext">{{itemlocationData[0].materialid}}</label></span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 pt-2 labelheading">
            <label>Po Item  Desc :</label>&nbsp;<span><label class="labeltext">{{itemlocationData[0].materialdescription}}</label></span>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-2 pt-2 labelheading">
            <label>Requested Qty :</label>&nbsp;<span><label class="labeltext">{{reqqty}}</label></span>
          </div>
        </div>

      </div>
      <p-table #dt [value]="itemlocationData">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">S.No</th>
            <th style="text-align:center" *ngIf="isplantstockrequest && !viewprocess">Saleorder no</th>
            <th style="text-align:center">Location</th>
            <th style="text-align:center">Available Qty</th>
            <th style="text-align:center">Issue Qty</th>
            <th style="text-align:center">Received Date</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right">
              {{ri+1}}
            </td>
            <td class="ptable-cell" style="text-align:center" *ngIf="isplantstockrequest && !viewprocess">{{rowData.saleorderno}}</td>
            <td class="ptable-cell" style="text-align:center">{{rowData.itemlocation}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.availableqty}}</td>
            <td class="ptable-cell" style="text-align:right">
              <input id="{{ri+1}}" pInputText type="number" [disabled]="issueqtyenable" style="text-align:right" class="form-control" (change)="checkissueqty($event,rowData.issuedqty,rowData.availableqty,rowData.materialid,rowData.createddate,rowData);" [(ngModel)]="rowData.issuedqty">
            </td>
            <td class="ptable-cell" style="text-align:center">{{rowData.createddate | date :  constants.dateFormat}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" style="text-align:center;color:red">Materials Not Available in stock.</td>
          </tr>
        </ng-template>

      </p-table>
      <p-footer>
        <div *ngIf="!issueqtyenable" class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="issuematerial(itemlocationData)" label="OK"></button>
          <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>

</div>

<p-dialog header="{{remarksheadertext}}" [(visible)]="displayRemarks" (onHide)="canclestatus()" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">

  <textarea style="width: 100%; height: 100px;resize: none" placeholder="Enter Remarks" [(ngModel)]="statusremarks">
       </textarea>
  <button class="btn btn-danger btn-sm" (click)="canclestatus()" style="float:right">No</button>
  <button class="btn btn-success btn-sm" (click)="submitstatus()" style="float:right">Yes</button>

</p-dialog>

<div *ngIf="showMatDetails && !showavailableStock">
  <div class="card" style="min-height: 500px;border-radius: 10px;box-shadow: 5px 10px #888888;">
    <div class="card-header text-center cardheadertext">
      <span>
        <i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Initiate PO
      </span>
      <button type="button" icon="fa fa-arrow-left" pButton aria-hidden="true" pTooltip="Back" (click)="backtoDashboard()" style="float: left;
    height: 26px;"></button>
    </div>
    <div class="card-body" style="overflow-y:scroll">
      <div *ngIf="this.materialissueList.length>0">
        <div class="row  pl-0">
          <div class="col-lg-3 col-md-3 col-sm-3 pt-2 labelheading">
            <label>STO No:</label>&nbsp;<span><label class="labeltext">{{transferId}}</label></span>
          </div>
        </div>
      </div>
      <p-table #dt [value]="materialissueList">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:200px;">Material</th>
            <th style="text-align:center">PO Item Description</th>
            <th style="text-align:center">Request Quantity</th>
            <th style="text-align:center">Issued Quantity</th>
            <th style="text-align:center">Available Quantity</th>
            <th style="text-align:center">PO Qty</th>
          </tr>
          <tr>
            <th></th>
            <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>-->
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'poitemdescription', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'transferqty', 'contains')"></th>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'availableqty', 'contains')"></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right">
              {{ri+1}}
            </td>
            <td class="ptable-cell" style="text-align:left;width:200px;">{{rowData.materialid}}</td>
            <td class="ptable-cell" style="text-align:left">{{rowData.poitemdescription}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.transferqty}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.issuedqty}}</td>
            <td class="ptable-cell" style="text-align:right">{{rowData.availableqty}}</td>
            <td class="ptable-cell" style="text-align:right">
              <input type="number" [(ngModel)]="rowData.poqty" style="text-align:right"/>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <span *ngIf="materialissueList.length==0" style="color:red">Quantity is available to issue</span>
        </ng-template>
      </p-table>
      <br />
      <br />

      <div style="text-align: center;margin-top:5px;">
        <input *ngIf="materialissueList.length>0" class="btn btn-primary" (click)="InitiatePO()" type="button" value="Initiate PO">
      </div>
    </div>
  </div>
</div>
