
<div style="margin:10px;">
  <div class="card" style="min-height: 82vh; width: 100%; border-radius: 10px; box-shadow: 5px 10px #888888;">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-4 col-md-4 form-inline">
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span style="color:#428bca;font-size:18px" class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Goods Receipt
          </span>
        </div>
        <div class="col-lg-4 col-md-4 form-inline"></div>
     </div>
      <form class="form-inline labelheading">
        <label>Pending receipts:</label>&nbsp;&nbsp;
        <p-autoComplete [(ngModel)]="selectedpendingpono" [suggestions]="filteredpos" [ngModelOptions]="{standalone: true}" placeholder="search by supplier/PONo" [forceSelection]="false" (onSelect)="showpodata()" (change)="showpodata()" (completeMethod)="filterpos($event)" [size]="30"
                        [dropdown]="true">
        </p-autoComplete>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" (change)="onholdchange($event)" [disabled]="grnnumber || isonHold || isallreceived" *ngIf="!isacceptance && podetailsList.length>0" [(ngModel)]="isonHoldview" [ngModelOptions]="{standalone: true}" />&nbsp;<span *ngIf="!isacceptance && podetailsList.length>0">Put On Hold</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="labelheading">Pending for Acceptance:</label>&nbsp;&nbsp;
        <p-autoComplete [(ngModel)]="selectedgrnno" [suggestions]="filteredgrns" placeholder="search by supplier/GRN No" [ngModelOptions]="{standalone: true}" [forceSelection]="false" (change)="showpodata1()" (onSelect)="showpodata1()" (completeMethod)="filtergrn($event)" [size]="30"
                        [dropdown]="true">
        </p-autoComplete>
      </form>
    </div>
    <div class="card-body">
     <div class="row" style="margin-top:0px;">
        <div class="col-lg-3 col-md-3 labelheading" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="podetailsList.length>0 || isnonpoentry">
          Invoice No : <span class="labeltext">{{lblinvoiceno}}</span>
        </div>
        <div class="col-lg-3 col-md-3 labelheading" style="font-weight: 600;font-size: 14px;color: darkblue;resize: none" *ngIf="podetailsList.length>0 || isnonpoentry">
          <span *ngIf="grnnumber">WMS GRN No : </span><span class="labeltext">{{grnnumber}}</span>
          <span *ngIf="!grnnumber && isonHoldview">Remarks: </span><span *ngIf="!grnnumber && isonHoldview" class="labeltext">{{onholdremarks}}&nbsp;&nbsp;<i class="btn fa fa-edit" (click)="displayBasic = true"></i></span>
        </div>
        <div class="col-lg-4 col-md-4 labelheading" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="isnonpoentry">
          <button *ngIf="isnonpoentry && !grnnumber" type="button" pTooltip="Add marerial" style="border-radius: 10em!important;background-color: white;float:right; border-color: rgb(96, 123, 212);" rounded="true" size="lg" class="my-0" (click)="addrows()"> <i class="fa fa-plus" style="font-size: 15px;color: green;float:right"></i></button><label *ngIf="isnonpoentry" style="font-size: 15px;float:right;padding:0px; color: rgb(96, 123, 212);"> &nbsp;&nbsp;Add Material</label>
        </div>
     </div>
     <div class="row" *ngIf="!isacceptance" style="max-width:100%;position: relative; margin-top:5px;margin-left:3px;">
        <p-table #dt [value]="podetailsList" [style]="{'width':'100%','overflow':'auto!important'}"
                 [responsive]="true" [rows]="10"
                 [resizableColumns]="true"
                 columnResizeMode="expand"
                 [scrollable]="true" scrollHeight="40vh"
                 appendTo="body">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th style="text-align:center;width:5%;">Sl.No.</th>
              <th style="text-align:center;width:10%;">PONo.</th>
              <th *ngIf="!isnonpo" style="text-align:center;width:8%;">line item No.</th>
              <th style="text-align:center;width:12%;">Material</th>
              <th *ngIf="isnonpo" style="text-align:center;">Material Description</th>
              <th *ngIf="!isnonpo" style="text-align:center;">PO Item Description</th>
              <th *ngIf="!isnonpo && !qualitychecked" style="text-align:center;width:8%;">Material Qty</th>
              <th *ngIf="!isnonpo && !isonHold" style="text-align:center;width:8%;">Pending Qty</th>
              <th style="text-align:center;width:10%;" *ngIf="!isonHoldview">Received Qty</th>
              <th style="text-align:center;width:15%;" *ngIf="!isonHoldview">Remarks</th>
              <th style="text-align:center;width:10%;" *ngIf="!isonHoldview">QC Required</th>
              <th style="text-align:center;width:10%;" *ngIf="isnonpoentry"></th>
           </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
           <tr>
             <td class="ptable-cell" style="text-align:right;width:5%;">{{ri+1}}</td>
              <td class="ptable-cell" style="text-align:center;width:10%;">{{rowData.pono}}</td>
              <td *ngIf="!isnonpo" class="ptable-cell" style="text-align:center;width:8%;">{{rowData.lineitemno}}</td>
              <td class="ptable-cell" style="text-align:center;width:12%;">
                <span *ngIf="!isnonpoentry">{{rowData.material}}</span>
                <input *ngIf="isnonpoentry" pInputText type="text" (change)="setmatdesc(rowData)" (blur)="validate(rowData,ri)" class="form-control" [(ngModel)]="rowData.material">
              </td>
              <td class="ptable-cell" style="text-align:left;">
                <span *ngIf="!isnonpoentry && rowData.poitemdescription">{{rowData.poitemdescription}}</span>
                <span *ngIf="!isnonpoentry && !rowData.poitemdescription">-</span>
                <input *ngIf="isnonpoentry" pInputText type="text" readonly id="receivedqty" class="form-control" [(ngModel)]="rowData.materialdescription">
              </td>
              <td class="ptable-cell" *ngIf="!isnonpo && !qualitychecked" style="text-align:right;width:8%;">
                <span>{{rowData.materialqty}}</span>
              </td>
              <td class="ptable-cell" *ngIf="!isnonpo && !isonHold" style="text-align:right;width:8%;">
                <span>{{rowData.pendingqty}}</span>
              </td>
              <td class="ptable-cell" style="text-align:right;width:10%;" *ngIf="!isonHoldview">
                <span *ngIf="!grnnumber && !isnonpo && isallreceived">N/A</span>
                <span *ngIf="grnnumber">{{rowData.receivedqty}}</span>
                <input *ngIf="!grnnumber && (!isallreceived || isnonpo)" pInputText type="number" [min]="0" (change)="checkreceivedqty(rowData.receivedqty,rowData.confirmqty,rowData.returnqty,rowData.materialqty,rowData);" id="receivedqty" class="form-control" [(ngModel)]="rowData.receivedqty">
              </td>
              <td style="text-align: left;width: 15%;resize: none" *ngIf="!isonHoldview">
                <span *ngIf="grnnumber || isonHold">{{rowData.receiveremarks}}</span>
                <textarea *ngIf="!grnnumber && !isonHold" style="resize:none" [(ngModel)]="rowData.receiveremarks"></textarea>
              </td>
              <td style="text-align:center;width:10%;" *ngIf="!isonHoldview">
                <input type="checkbox" [disabled]="true" [(ngModel)]="rowData.qualitycheck" />
              </td>
              <td style="text-align:center;width:10%;" *ngIf="isnonpoentry">
                <button (click)="deleteRow(ri)" class="btn btn-danger" style="margin-top:10%"><i class="fa fa-trash"></i></button>
              </td>
           </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row" *ngIf="isacceptance" style="max-height: 400px;max-width:100%;overflow: scroll;position: relative; margin-top:5px;margin-left:3px;">
        <p-table #dt [value]="podetailsList" [style]="{'width':'100%','overflow':'auto!important'}"
                 [responsive]="true" [rows]="10"
                 [resizableColumns]="true"
                 columnResizeMode="expand"
                 [paginator]="true" [rowsPerPageOptions]="[10,20,30,40]"
                 appendTo="body">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th style="text-align:center;width:5%;">Sl.No.</th>
              <th style="text-align:center;width:10%;">PONo.</th>
              <th style="text-align:center;width:7%;">line item No.</th>
              <th style="text-align:center;width:12%;">Material</th>
              <th style="text-align:center;">PO Item Description</th>
              <th style="text-align:center;width:8%;">Received Qty</th>
              <th style="text-align: center;width:8%;">Accepted Qty</th>
              <th style="text-align:center;width:8%;">Rejected Qty</th>
              <th style="text-align:center;width:8%;">Material Barcode</th>
              <th style="text-align:center;width:15%;">Remarks</th>
              <th style="text-align:center;width:7%;">Quality status</th>
           </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
           <tr>
             <td class="ptable-cell" style="text-align:right;width:5%;">{{ri+1}}</td>
              <td class="ptable-cell" style="text-align:center;width:10%;">{{rowData.pono}}</td>
              <td class="ptable-cell" style="text-align:center;width:7%;">{{rowData.lineitemno}}</td>
             <td class="ptable-cell" style="text-align:center;width:12%;">
                <span>{{rowData.material}}</span>
             </td>
              <td class="ptable-cell" style="text-align:left">
                <span *ngIf="rowData.poitemdescription">{{rowData.poitemdescription}}</span>
                <span *ngIf="!rowData.poitemdescription">-</span>
             </td>
              <td class="ptable-cell" style="text-align:right;width:8%;">
                <span>{{rowData.receivedqty}}</span>
              </td>
              <td class="ptable-cell" style="text-align:right;width:8%;">
                <span *ngIf="rowData.returnedby && (getstatus(rowData) != 'Pending')">{{rowData.confirmqty}}</span>
                <input *ngIf="!rowData.returnedby && (getstatus(rowData) != 'Pending')" pInputText type="number" [min]="0" (change)="checkconfirmqty(rowData.confirmqty,rowData.receivedqty,rowData.returnqty,rowData);" id="confirmqty" class="form-control" [(ngModel)]="rowData.confirmqty">
              </td>
              <td class="ptable-cell" style="text-align:right;width:8%;">
                <span *ngIf="rowData.returnedby && (getstatus(rowData) != 'Pending')">{{rowData.returnqty}}</span>
                <input *ngIf="!rowData.returnedby && (getstatus(rowData) != 'Pending')" pInputText type="number" [min]="0" (change)="checkreturnqty(rowData.returnqty,rowData.receivedqty,rowData.confirmqty,rowData);" id="returnqty" class="form-control" [(ngModel)]="rowData.returnqty">
              </td>
              <td style="text-align: center;width: 10%;">
                <button type="button" icon="fa fa-print" pButton aria-hidden="true" (click)="generateBarcode(rowData)"></button>
              </td>
              <td style="text-align: left;width: 15%;">
                <span *ngIf="rowData.returnedby && (getstatus(rowData) != 'Pending')">{{rowData.returnremarks}}</span>
                <textarea *ngIf="!rowData.returnedby && (getstatus(rowData) != 'Pending')" style="resize:none" [(ngModel)]="rowData.returnremarks"></textarea>
              </td>
              <td style="text-align:center;width:7%;">
                <span [innerText]="getstatus(rowData)"></span>
              </td>
           </tr>
          </ng-template>
        </p-table>
      </div>
   </div>
    <div class="card-footer" *ngIf="podetailsList.length">
      <div *ngIf="!isacceptance">
        <button type="button" *ngIf="!grnnumber" class="btn btn-success" style="margin-left:45%" [disabled]="grnnumber || (isallreceived && !isnonpo) || isonHold" (click)="onsubmit()">Submit</button>
      </div>
      <div *ngIf="isacceptance">
        <button type="button" class="btn btn-success" style="margin-left:45%" [disabled]="returned" (click)="onreturnsubmit()">Submit</button>
      </div>
   </div>
    <p-dialog header="Generate Barcode" [(visible)]="showPrintDialog" [contentStyle]="{'overflow':'visible'}" [style]="{width: '80%'}">
      <div class="row ">
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">PO No.:</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <input type="text" [disabled]="true" class="form-control" [(ngModel)]="pono" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Material Code:</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <input type="text" [disabled]="true" class="form-control" [(ngModel)]="materialCode" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Received Qty:</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <input type="text" [disabled]="true" class="form-control" [(ngModel)]="receivedqty" />
        </div>
     </div>
     <br />
     <div class="row">
       <div class="col-lg-2 col-md-2 col-sm-2">
         <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Line Item No.:</label>
       </div>
       <div class="col-lg-2 col-md-2 col-sm-2">
         <input type="text" [disabled]="true" class="form-control" [(ngModel)]="lineitmno" />
       </div>
       <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
         <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Total No. of Boxes:</label>
       </div>
       <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
         <input type="text" class="form-control" [(ngModel)]="totalboxes" />
       </div>
       <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
         <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">No. of materials in box:</label>
       </div>
       <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
         <input type="text" class="form-control" [(ngModel)]="noofpieces" style="width: 100px;text-align:center" />
       </div>

     </div>
      <br>
      <div class="row">
       
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Box No.:</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
          <input type="text" class="form-control" [(ngModel)]="boxno" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <button type="button" class="btn btn-primary" (click)="GenerateBarcode()" label="Save">Generate Barcode</button>
        </div>
      </div>
    </p-dialog>
   <p-dialog header="Print Barcode" [(visible)]="showPrintLabel" [contentStyle]="{'overflow':'auto'}" [style]="{width: '50%'}">
      <form>
       <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <div><b>Ref# -</b> {{printData.pono}}</div>
            <table>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">Serial No.:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.serialno}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">Material:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.material}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">MS Code:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.mscode}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">Order:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.order}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">Qty:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.qty}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">S/O Type:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.saleorder}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">Insp Rec.</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.insprec}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:200px;height:30px">Ship-to:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.serialno}}
                </td>
              </tr>
              <tr *ngIf="printData.codetype=='N'">
                <th style="outline: thin solid;width:200px;height:30px">Project ID & Definition:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.proid}}
                </td>
              </tr>
              <tr *ngIf="printData.codetype=='A'">
                <th style="outline: thin solid;width:200px;height:30px">Asset & Sub Number:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.asset}}
                </td>
              </tr>
              <tr *ngIf="printData.codetype=='Y'">
                <th style="outline: thin solid;width:200px;height:30px">Cost Center & Cost Center Text:</th>
                <td style="outline: thin solid;width:1640px;height:30px">
                  {{printData.costcenter}}
                </td>
              </tr>
            </table>
            <div style="text-align:center"><b>Additional Work Instruction</b></div>
            <table>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">Plant:</th>
                <td style="outline: thin solid;width:400px;height:30px" colspan="2">
                  {{printData.plant}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:100px;height:30px">#</th>
                <th style="outline: thin solid;width:1800px;height:30px">Carry-in Place</th>
                <th style="outline: thin solid;width:1500px;height:30px">S_Loc</th>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">GR</th>
                <th style="outline: thin solid;width:400px;height:30px">Ship(kar-PCI)</th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">1.</th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">2.</th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">3.</th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
                <th style="outline: thin solid;width:400px;height:30px"></th>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">SP</th>
                <td style="outline: thin solid;width:400px;height:30px" colspan="2">
                  {{printData.shippingpoint}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">Loading Date</th>
                <td style="outline: thin solid;width:400px;height:30px" colspan="2">
                  {{printData.loadingdate}}
                </td>
              </tr>
              <tr>
                <th style="outline: thin solid;width:400px;height:30px">Linkage No.</th>
                <td style="outline: thin solid;width:400px;height:30px" colspan="2">
                  {{printData.linkageno}}
                </td>
              </tr>
            </table>
          </div>
       </div>
       <br />
       <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5"></div>
         <div class="col-lg-3 col-md-3 col-sm-3">
            <button type="button" class="btn btn-primary" (click)="printLabel()" label="Save">{{print}}</button>
          </div>
        </div>
      </form>
    </p-dialog>
  </div>

</div>
<p-dialog header="Remarks" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <textarea style="width: 100%; height: 100px;resize: none" [disabled]="grnnumber || isonHold" [(ngModel)]="onholdremarks">
       </textarea>
  <button class="btn btn-success btn-sm" (click)="displayBasic=false" style="float:right">Ok</button>
</p-dialog>

