<!--<div style="max-height: 100px !important;display: contents;position: relative;">
  <h5 style="text-align: center">GRN Posting</h5>
  <div class="row">
    <div class="col-xs-3 col-md-3 col-sm-3">
      <input type="text" [(ngModel)]="PoDetails.pono" class="form-control" />
    </div>
    <div class="col-xs-3 col-md-3 col-sm-3">
      <button type="button" class="btn btn-primary" (click)="scanBarcode()" label="Save">Scan Barcode</button>
    </div>
  </div>
  <br />

  <div *ngIf="podetailsList.length>0">
    <div class="row " style="margin-top:10px">
      <div class="col-md-3 pt-2">
        PO No : <span style="color:#dc3545;">{{podetailsList[0].pono}}</span>
      </div>
      <div class="col-md-3 pt-2">
        Invoice No : <span style="color:#dc3545;">{{podetailsList[0].invoiceno}}</span>
      </div>
      <div class="col-md-3 pt-2">
        <span *ngIf="grnnumber">GRN No : </span><span style="color:#dc3545;">{{grnnumber}}</span>
      </div>
    </div>
  </div>
</div>-->
<div style="margin:10px;">
  <div class="card" style="height:490px; width:100%;border-radius:10px; box-shadow:5px 10px #888888;">
    <div class="card-header cardheadertext text-center"><i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;GRN Posting</div>
    <div class="card-body" style="overflow-y:scroll">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <input type="text" [(ngModel)]="PoDetails.pono" class="form-control" />
        </div>
        <div class="col-lg-2 col-md-2">
          <button type="button" class="btn btn-primary btn-sm" style="float:left" (click)="scanBarcode()" label="Save">Scan Barcode</button>
        </div>
        <div class="col-lg-2 col-md-2" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="podetailsList.length>0">
          PO No : <span style="color:#dc3545;">{{podetailsList[0].pono}}</span>
        </div>
        <div class="col-lg-3 col-md-3" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="podetailsList.length>0">
          Invoice No : <span style="color:#dc3545;">{{podetailsList[0].invoiceno}}</span>
        </div>
        <div class="col-lg-3 col-md-3" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="podetailsList.length>0">
          <span *ngIf="grnnumber">GRN No : </span><span style="color:#dc3545;">{{grnnumber}}</span>
        </div>

      </div>
      <div class="row" style="max-height: 400px;max-width:100%;overflow: scroll;position: relative; margin-top:5px;margin-left:3px;">
        <p-table #dt [value]="podetailsList" [style]="{'width':'100%','overflow':'auto!important'}"
                 [responsive]="true" [rows]="10"
                 [resizableColumns]="true"
                 columnResizeMode="expand"
                 [paginator]="true" [rowsPerPageOptions]="[10,20,30,40]"
                 appendTo="body">
          <ng-template pTemplate="header">
            <tr class="mprltbldata">
              <th style="text-align:center;width:5%;">Sl.No.</th>
              <!--<th>PO No</th>
            <th>Invoice No</th>-->
              <th style="text-align:center">Project Name</th>
              <th style="text-align:center;width:10%;">Material</th>
              <th style="text-align:center;">Material Description</th>
              <th style="text-align:center;width:10%;">PO Qty</th>
              <th style="text-align:center;width:10%;">Received Qty</th>
              <th style="text-align: center;width:10%;">Accepted Qty</th>
              <th style="text-align:center;width:10%;">Returned Qty</th>
            </tr>
            <tr>
              <th></th>
              <!--<th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'pono', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'invoiceno', 'contains')"></th>-->
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'projectname', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'quotationqty', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'receivedqty', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'confirmqty', 'contains')"></th>
              <th> <input pInputText type="text" class="form-control" (input)="dt.filter($event.target.value, 'returnqty', 'contains')"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            

            <tr>
              

              <td class="ptable-cell" style="text-align:right;width:5%;">{{ri+1}}</td>

              <!--<td class="ptable-cell">{{rowData.pono}}</td>
            <td class="ptable-cell">{{rowData.invoiceno}}</td>-->
              <td class="ptable-cell" style="text-align:center">{{rowData.projectname}}</td>
              <td class="ptable-cell" style="text-align:center;width:10%;">{{rowData.material}}</td>
              <td class="ptable-cell" style="text-align:left">-a{{rowData.materialdescription}}</td>
              <td class="ptable-cell" style="text-align:right;width:10%;">{{rowData.quotationqty}}</td>
              <td class="ptable-cell" style="text-align:right;width:10%;">
                <span *ngIf="grnnumber">{{rowData.receivedqty}}</span>
                <input *ngIf="!grnnumber" pInputText type="number" (change)="checkreceivedqty(rowData.receivedqty,rowData.quotationqty);" id="receivedqty" class="form-control" [(ngModel)]="rowData.receivedqty">
              </td>
              <td class="ptable-cell" style="text-align:right;width:10%;">
                <span *ngIf="grnnumber">{{rowData.confirmqty}}</span>
                <input *ngIf="!grnnumber" pInputText type="number" class="form-control" (change)="checkconfirmqty(rowData.confirmqty,rowData.quotationqty);" id="confirmqty" [(ngModel)]="rowData.confirmqty">
              </td>
              <td class="ptable-cell" style="text-align:right;width:10%;">
                <span *ngIf="grnnumber">{{rowData.returnqty}}</span>
                <input *ngIf="!grnnumber" style="text-align:right" pInputText type="number" (change)="checkreturnqty(rowData.returnqty,rowData.quotationqty);" id="returnqty" class="form-control" [(ngModel)]="rowData.returnqty">
              </td>
              <!--<td class="ptable-cell">
              <div style="text-align: center;">
                <button type="button" class="btn btn-primary" (click)="onVerifyDetails(rowData)" label="Save">Verify</button>
              </div>
            </td>-->
            </tr>
          </ng-template>
        </p-table>
      </div>




    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success" style="margin-left:45%" [disabled]="grnnumber" (click)="onsubmitGRN()">Post GRN </button>
    </div>
  </div>

</div>

<!--<div *ngIf="showDetails">
  <div class="form-control" style="height:100%;border-radius:0px;">
    <div class="row " style="margin-top:10px">
      <div class="col-lg-4 col-md-4 col-sm-4 form-group">
        <label class="form-label">PO No : </label>&nbsp;&nbsp;
        <input class="form-control" type="text" [(ngModel)]="PoDetails.pono">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-group">
        <label class="form-label">Invoice No : </label>
        <input class="form-control" type="text" [(ngModel)]="PoDetails.invoiceno">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-group">
        <label class="form-label">Quantity : </label>
        <input class="form-control" type="text" [(ngModel)]="PoDetails.quotationqty">
      </div>
    </div>
    <div class="row " style="margin-top:10px">
      <div class="col-lg-4 col-md-4 col-sm-4 form-group">
        <label class="form-label">Material : </label>
        <input class="form-control" type="text" [(ngModel)]="PoDetails.material">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-group">
        <label class="form-label">Material Description : </label>
        <input class="form-control" type="text" [(ngModel)]="PoDetails.materialdescription">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-group">
        <label class="form-label">Project : </label>
        <input class="form-control" type="text" [(ngModel)]="PoDetails.projectcode">
      </div>
    </div>
    <div class="row " style="margin-top:10px">
    </div>
    <div style="text-align: center;">
      <button type="button" class="btn btn-success" (click)="onVerifyDetails()" label="Save">Verify</button>
    </div>
  </div>
</div>-->
<!--<div class="footer">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5px;margin-bottom:5px">
      <button type="button" class="btn btn-primary" [disabled]="grnnumber" (click)="onsubmitGRN()">Post GRN </button>
    </div>
  </div>
</div>-->
