
  <div class="card commoncardcss" style="margin:10px">
    <div class="card-header text-center commoncardheader">
      <div class="row " style="    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important">
        <div class="col-lg-4 col-md-4 form-inline">
          <label class="labelheading">Status:</label>&nbsp;
          <select style="float:left" class="form-control" [(ngModel)]="returntype" (change)="getdata()">
            <option value="Pending" selected="selected">Pending</option>
            <option value="Approved">Approved</option>
            <option value="Rejected">Rejected</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <span class="commonheadertext">
            <i class="fa fa-check-circle-o commonheadertext"></i>&nbsp;Sub Contract Approval
          </span>
        </div>
        <div class="col-lg-4 col-md-4 form-inline">
        </div>
      </div>
    </div>
    <div class="card-body" style="overflow-y:visible;padding:0px;">
      <p-table #dt [value]="requestList" [style]="{'width':'100%'}" [scrollable]="true" scrollHeight="62vh">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <th style="text-align:center;width:150px">Request Id</th>
            <th style="text-align:center;width:100px">Project</th>
            <th style="text-align:center;width:100px">Source Location</th>
            <th style="text-align:center;width:150px">Vendor Name</th>
            <th style="text-align:center;width:100px">Requested On</th>
            <th style="text-align:center;width:150px">Requested By</th>
            <th style="text-align:center;width:200px">Remarks</th>
            <th style="text-align:center;width:200px" *ngIf="returntype === 'Pending'">
              <button class="btn btn-success btn-sm" (click)="savedata()">Submit</button>
            </th>
          </tr>
          <tr>
            <th></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'transferid', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'projectcode', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'sourceplant', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'vendorname', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'transferredon', 'contains')"></th>
            <th> <input pInputText type="text" class="form-control" (input)="dt1.filter($event.target.value, 'transferredbyname', 'contains')"></th>
            <th></th>
            <th *ngIf="returntype === 'Pending'"></th>


          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right;width:70px;">{{ri+1}}</td>
            <td class="ptable-cell" style="text-align: center;width: 150px;">
              <button type="button" class="btn btn-link" (click)="showattachtrdata(rowData)" style="padding-left:0px;text-align:center;">{{rowData.transferid}}</button>
            </td>
            <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.projectcode}}</td>
            <td class="ptable-cell" style="text-align:left;width:100px;">{{rowData.sourceplant}}</td>
            <td class="ptable-cell" style="text-align:left;width:150px;">{{rowData.vendorname}}</td>
            <td class="ptable-cell" style="text-align:center;width:100px;">{{rowData.transferredon| date :  constants.dateFormat}}</td>
            <td class="ptable-cell" style="text-align:left;width:150px;">
              <span>{{rowData.transferredbyname}}</span>
            </td>
            <td class="ptable-cell" style="text-align:left;width:200px;resize:none">
              <span *ngIf="rowData.approvedon">
                {{rowData.approvalremarks}}
              </span>
              <textarea *ngIf="!rowData.approvedon" [(ngModel)]="rowData.approvalremarks"></textarea>
            </td>
            <td class="ptable-cell" style="text-align:left;width:200px;resize:none;font-weight:600" *ngIf="returntype === 'Pending'">
              <p-radioButton name="groupname{{ri}}" value="1" label="Approve" [(ngModel)]="rowData.approvalcheck"></p-radioButton>
              <p-radioButton name="groupname{{ri}}" value="0" label="Reject" [(ngModel)]="rowData.approvalcheck"></p-radioButton>
              &nbsp;&nbsp;<span style="font-size:large;font-weight:600;cursor:pointer;text-decoration:underline" (click)="noaction(rowData)">&times;</span>
            </td>


          </tr>
          <tr *ngIf="rowData.showtr">
            <td [attr.colspan]="(returntype === 'Pending') ? '9' : '8'" style="text-align:center;">
              <label class="labeltext">Material Detail</label>
            </td>

          </tr>

          <tr *ngIf="rowData.showtr">
            <td [attr.colspan]="(returntype === 'Pending') ? '9' : '8'" style="text-align:center;">

              <p-table [value]="rowData.materialdata" [style]="{'width':'100%'}">
                <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th class="ptable-cell" style="width: 10%; text-align: center">Sl. No.</th>
            <th style="text-align:center;width:25%" class="ptable-cell">Material</th>
            <th style="text-align:center;width:35%" class="ptable-cell">PO Item Description</th>
            <th style="text-align:center;width:20%" class="ptable-cell">Transfer quantity</th>
            <th style="text-align:center;width:20%" class="ptable-cell">Value(INR)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
          <tr>
            <td class="ptable-cell" style="text-align:center"> {{ri+1}} </td>
            <td class="ptable-cell" style="text-align:center;">
              {{rowData.materialid}}
            </td>
            <td class="ptable-cell" style="text-align:left">
              {{rowData.materialdescription}}
            </td>
            <td class="ptable-cell" style="text-align:right">
              {{rowData.transferqty}}
            </td>
            <td class="ptable-cell" style="text-align:right">
              {{rowData.value}}
            </td>
</ng-template>


      </p-table>
      </td>

      </tr>
      </ng-template>
      </p-table>

    </div>
  </div>


