<div class="card" style="height:40px; width:100%;border-radius:10px;">
  <div class="card-header cardheadertext text-center"><i class="fa fa-check-circle-o" style="color:white; font-size:20px;"></i>&nbsp;Put Away</div>
</div>
<div class="form-control" style="height:100%">
  <div class="row " style="margin-top:10px">
    <div class="col-lg-3 col-md-3 form-inline">
      <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">GRN No: </label>&nbsp;&nbsp;
      <input class="form-control" type="text" [(ngModel)]="PoDetails.grnnumber">&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary btn-sm" label="Save" (click)="SearchGRNNo()">Search</button>
    </div>
    <div class="col-md-3 col-lg-3  pt-2 labelheading" *ngIf="podetailsList.length>0">
      PO No : <span class="labeltext">{{podetailsList[0].pono}}</span>
    </div>
    <div class="col-md-3 col-lg-3 pt-2 labelheading" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="podetailsList.length>0">
      Invoice No : <span class="labeltext">{{podetailsList[0].invoiceno}}</span>
    </div>
    <div class="col-md-3 col-lg-3 pt-2 labelheading" style="font-weight:600;font-size:14px;color:darkblue;" *ngIf="podetailsList.length>0">
      WMS GRN No : <span class="labeltext">{{podetailsList[0].grnnumber}}</span>
    </div>
  </div>
  <div class="row " style="margin-top:10px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-table #dt [value]="podetailsList" [style]="{'width':'100%','overflow':'auto!important'}"
               [responsive]="true" [rows]="50"
               [resizableColumns]="true"
               columnResizeMode="expand"
               [paginator]="true" [rowsPerPageOptions]="[25,50,75,100]"
               appendTo="body">
        <ng-template pTemplate="header">
          <tr class="mprltbldata">
            <th style="text-align:center;width:70px">Sl.No.</th>
            <!--<th style="width:200px;text-align:center">Project Name</th>-->
            <th style="width:150px;text-align:center">Material</th>
            <th style="text-align:center">Material Description</th>
            <th *ngIf="!isnonpo" style="width:100px;text-align:center">Material Quantity</th>
            <th style="width:100px;text-align:center">Received Quantity</th>
            <th style="width:100px;text-align:center">Accepted Quantity</th>
            <th style="width:100px;text-align: center">Returned Quantity</th>
            <th *ngIf="!isnonpo" style="width:100px;text-align:center">Pending Quantity</th>
            <th style="width:100px;text-align:center">Material Barcode</th>
            <th style="width:150px; text-align: center">Location</th>


          </tr>
          <tr>
            <th></th>
            <!--<th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'projectname', 'contains')"></th>-->
            <th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'material', 'contains')"></th>
            <th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'materialdescription', 'contains')"></th>
            <th *ngIf="!isnonpo"> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'materialqty', 'contains')"></th>
            <th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'receivedqty', 'contains')"></th>
            <th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'confirmqty', 'contains')"></th>
            <th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'returnqty', 'contains')"></th>
            <th *ngIf="!isnonpo"></th>
            <th></th>
            <th> <input pInputText type="text" style="width:100%;" class="form-control" (input)="dt.filter($event.target.value, 'Location', 'contains')"></th>


          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr>
            <td class="ptable-cell" style="text-align:right;width:70px">{{ri+1}}</td>
            <!--<td class="ptable-cell" style="text-align: left;width:200px;">{{rowData.projectname}}</td>-->
            <td class="ptable-cell" style="text-align:center;width:150px;">{{rowData.material}}</td>
            <td class="ptable-cell" style="text-align:left;">{{rowData.materialdescription}}</td>
            <td *ngIf="!isnonpo" class="ptable-cell" style="text-align:right;width:100px;">{{rowData.materialqty}}</td>
            <td class="ptable-cell" style="text-align:right;width:100px;">{{rowData.receivedqty}}</td>
            <td class="ptable-cell" style="text-align:right;width:100px;">{{rowData.confirmqty}}</td>
            <td class="ptable-cell" style="text-align:right;width:100px;">{{rowData.returnqty}}</td>
            <td *ngIf="!isnonpo" class="ptable-cell" style="text-align:right;width:100px;">{{rowData.materialqty-rowData.confirmqty}}</td>
            <td style="text-align:center">
              <button type="button" icon="fa fa-print" pButton aria-hidden="true" (click)="generateBarcode(rowData)"></button>
            </td>
            <td class="ptable-cell" style="text-align:left;width:150px;">
              {{rowData.itemlocation}}&nbsp;
              <!--<div style="text-align:center">-->
              <!--<p-autoComplete [(ngModel)]="store" [suggestions]="stores" (completeMethod)="loadStores($event)"></p-autoComplete>-->
              <i *ngIf="!rowData.itemlocation && rowData.confirmqty != 0" class="fa fa-location-arrow" style="color:blue;float:right" pTooltip="Add Location" (click)="showDialog(rowData,ri)" aria-hidden="true"></i>
              <label *ngIf="rowData.confirmqty === 0" class="labeltext">No quantity to put away</label>
              <!--</div>-->
            </td>


          </tr>
        </ng-template>
      </p-table>







    </div>
  </div>
  <br />
  <p-dialog header="Generate Barcode" [(visible)]="showPrintDialog" [contentStyle]="{'overflow':'visible'}" [style]="{width: '60%'}">
    <div class="row ">
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline ">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">PO No.:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="pono" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline ">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Invoice No.:</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 form-inline ">
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="invoiceNo" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">GRN No.:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="grnNo" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Material Code:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="materialCode" />
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline">
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Received Date:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="receivedDate" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Accepted Qty:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="acceptedQty" />
      </div>

      <!--<div class="col-lg-2 col-md-2 col-sm-2 form-inline">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Item No.</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
        <input type="text" class="form-control" value="40" />
      </div>-->
    </div>
    <br />
    <div class="row">
      <div class="ccol-lg-1 col-md-1 col-sm-1 form-inline">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">No. of Print:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <input type="text" class="form-control" [(ngModel)]="noOfPrint" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 form-inline">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-inline ">
        <label class="form-label" style="font-weight:600;font-size:14px;color:darkblue;">Qty:</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 form-inline ">
        <button (click)="decreaseQty()"><<</button>
        <input type="text" class="form-control" [disabled]="true" value="{{qty}}/{{noOfPrint}}" style="width: 100px;text-align:center" />
        <button (click)="increaseQty()">&#62;&#62;</button>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5"></div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <button type="button" class="btn btn-primary" (click)="GenerateBarcode()" label="Save">Generate Barcode</button>
      </div>
    </div>
  </p-dialog>

  <p-dialog header="Print Barcode" [(visible)]="showPrintLabel" [contentStyle]="{'overflow':'visible'}" [style]="{width: '50%'}">
    <form>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label><b>No. of prints:</b></label>
          <label>{{printData.noofprint}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
          <table>
            <tr>
              <th style="outline: thin solid;width:400px;height:30px">Material Code:</th>
              <th style="outline: thin solid;width:400px;height:30px">{{printData.materialid}}</th>
              <th style="outline: thin solid;width:200px;height:30px" rowspan="2">
                <img class="images" src="{{printData.materialcodePath}}" />
              </th>
              <!--<th style="outline: thin solid;width:400px;height:30px">{{printData.materialid}}</th>-->
            </tr>
            <tr>
              <th style="outline: thin solid;width:400px;height:30px">Received Date:</th>
              <th style="outline: thin solid;width:400px;height:30px">{{printData.receiveddate}}</th>
            </tr>
          <tr>
            <th style="outline: thin solid;width:400px;height:90px" >GRN No. - Material Code : </th>
            <th style="outline: thin solid;width:400px;height:30px">{{printData.grnno}}- {{printData.materialid}}</th>
            <th style="outline: thin solid; width: 200px; height: 90px; align-content: center" rowspan="2"><img class="images" src="{{printData.barcodePath}}" /></th>
            <!--<th style="outline: thin solid;width:400px;height:30px"></th>-->
          </tr>
          <tr>
            <th style="outline: thin solid;width:400px;height:30px">WMS GRN No.</th>
            <th style="outline: thin solid;width:400px;height:30px">1/{{printData.noofprint}}</th>
            <!--<th style="outline: thin solid; width: 500px; height: 30px">1/{{printData.noofprint}}</th>-->
            <!--<th style="outline: thin solid;width:400px;height:30px"></th>-->
          </tr>
          </table>
          </div>
        </div>
      <br/>
        <!--<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-7 col-md-7 col-sm-7">
      <img class="images" src="{{printData.barcodePath}}" />
    </div>
  </div>
  <br/><br/>
       <div class="row">
         <div class="col-lg-3 col-md-3 col-sm-3"></div>
         <div class="col-lg-2 col-md-2 col-sm-2">
           <label>{{printData.receiveddate}}</label>&nbsp;&nbsp;

         </div>
         <div class="col-lg-3 col-md-3 col-sm-3"></div>
         <div class="col-lg-2 col-md-2 col-sm-2">
           <label>1/{{printData.noofprint}}</label>
         </div>
       </div>-->
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5"></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <button type="button" class="btn btn-primary" label="Save">Print</button>
          </div>
        </div>
</form>
  </p-dialog>
    <p-dialog header="Put Away Location" [(visible)]="showLocationDialogxx" [contentStyle]="{'overflow':'visible'}" [style]="{width: '50%'}">
      <form [formGroup]="StockModelForm">
        <div class="row " style="margin-top:10px;">
          <div class="col-lg-4 col-md-4 col-sm-4 form-group">
            <label for="itemlocation" class="form-label">Select Location</label>
            <div class="form-inline-list">
              <select class="form-control dropdown" formControlName="locatorid" [(ngModel)]="StockModel.locatorid">
                <option selected></option>
                <option *ngFor=" let loclist of locationlist " value={{loclist.locatorid}}>
            {{loclist.locatorname}}
            </option>
            </select>
</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 form-group">
            <label for="rackid" class="form-label">Select Rack</label>
            <div class="form-inline-list">

              <select class="form-control dropdown" formControlName="rackid" [(ngModel)]="StockModel.rackid">

                <option selected value="*ngIf=rackid"></option>
                <option *ngFor=" let loclist of racklist " value={{loclist.rackid}}>
                  {{loclist.racknumber}}
                </option>
              </select>
             
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 form-group">
            <label for="binid" class="form-label">Select Bin</label>
            <div class="form-inline-list">
              <select class="form-control dropdown" formControlName="binid" [(ngModel)]="StockModel.binid">

                <option selected></option>
                <option *ngFor=" let loclist of binlist" value={{loclist.binid}}>
                  {{loclist.binnumber}}
                </option>
              </select>
             
            </div>
          </div>
         
        </div>
      </form>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="onSubmitStockDetails()" label="Submit"></button>
        </div>
      </p-footer>
    </p-dialog>

    <p-dialog header="List View" [(visible)]="showList" [contentStyle]="{'overflow':'visible'}">
      <div class="ui-g ui-fluid">
        <p-listbox [options]="searchItems" [(ngModel)]="selectedItem" optionLabel="name" (onChange)="onSelectedOptionsChange(selectedItem)"></p-listbox>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('showList')" label="Cancel"></button>
        </div>
      </p-footer>
    </p-dialog>
    <p-dialog header="Put Away Location" [(visible)]="showLocationDialog" [position]="top" [modal]="true" [style]="{width: '95vw'}" [maximizable]="true" [baseZIndex]="10000"
              [draggable]="true" [resizable]="false">
      <div class="row">
        <div class="col-lg-4 col-md-4 labelheading">
          <label>Material Id :</label>&nbsp;<span><label class="labeltext">{{matid}}</label></span>
        </div>
        <div class="col-lg-4 col-md-4 labelheading">
          <label>Material desc :</label>&nbsp;<span><label class="labeltext">{{matdescription}}</label></span>
        </div>
        <div class="col-lg-3 col-md-3 labelheading">
          <label>Received Qty :</label>&nbsp;<span><label class="labeltext">{{matqty}}</label></span>
        </div>
        <div class="col-lg-1 col-md-1 labelheading">
          <button type="button" class="btn btn-primary btn-sm" style="float:right;margin-left:10px;" (click)="addrows()" label="Save"><i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div>
        <form [formGroup]="StockModelForm1">
          <table>
            <tbody *ngFor="let control of getControls(); let i=index" style="width: 100%">
              <tr [formGroup]="control" style="width: 100%;padding: 0px;">
                <td class="ptable-cell" style="text-align:right;width:5%;">{{i+1}}</td>
                <td class="ptable-cell" style="text-align:center;width:20%;">
                  <p-dropdown [options]="locationlist" [style]="{'width':'100%'}" appendTo="body" formControlName="locatorid" placeholder="Select location" filter="true" optionLabel="locatorname" [showClear]="true"></p-dropdown>
                 
                </td>
                <td class="ptable-cell" style="text-align:left;">
                  <p-dropdown [options]="racklist" [style]="{'width':'100%'}" formControlName="rackid"  placeholder="Select rack" filter="true" optionLabel="racknumber" [showClear]="true"></p-dropdown>
                </td>

                <td class="ptable-cell" style="text-align:right;width:15%;">
                  <p-dropdown [options]="binlist" [style]="{'width':'100%'}" formControlName="binid"  placeholder="Select bin" filter="true" optionLabel="binnumber" [showClear]="true"></p-dropdown>
                </td>
                <td class="ptable-cell" style="text-align:center;width:15%;">
                  <input pInputText type="number" style="text-align:right" class="form-control" formControlName="quantity">
                </td>
                <td class="ptable-cell" style="text-align:center;width:10%;">
                  <button type="button" class="btn btn-primary btn-sm" (click)="remove(rowData)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>

          </table>
          
        </form>
        
      </div>

      <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="showLocationDialog=false" label="Close" class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>
</div>
