<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3  navclass" style="height:50px;">
    <div class="container" style="margin:0px;padding:0px;max-width: 100%">
      <div class="navbar-brand" style="padding-left: 0em;">
        <img class="" src="./assets/yokologo.png" />
        <label style="margin-left:60%;color:white;font-weight:900;font-size:larger">Warehouse Management System</label>
      </div>
      <button type="text" id="btnuser" pButton label="&nbsp;{{username}}" style="background-color: #0099cc" icon="pi pi-user" (click)="op1.toggle($event)"></button>
    </div>
  </nav>
</header>
<div style="margin-top: -20px;" id="menudiv">
  <p-menubar [model]="items" [style]="{'background': 'linear-gradient(to bottom, #669999 0%, #669999 100%)','color':'white'}" (click) = "activeMenu($event)"></p-menubar>
</div>
<p-overlayPanel #op1>
  <p-panelMenu [model]="useritems" [style]="{'width':'150px'}" ></p-panelMenu>
</p-overlayPanel>
<p-toast position="top-right"></p-toast>



