a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.navclass {
  /*background: linear-gradient(to bottom, #0099cc 0%, #9900ff 100%);*/
  background: linear-gradient(to bottom, #3366ff 0%, #669999 100%);
}

.navtext {
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

:host >>> .active {
  background-color: lightgray;
}
