<header>
    <img class="logo" src="./assets/yokologo.png" alt="logo" style="margin-top:-20px">
    <nav>
      <ul class="nav_links">
        <li><a>Warehouse Management system</a></li>
      </ul>
    </nav>
    <div id="notlogged" style="cursor:pointer;margin-top:-20px">
      <table>
        <tr style="margin-top:0px">
          <td rowspan="2" style="color:white;cursor:pointer">
            <span (click)="openoutlook()"><i class="fa fa-envelope"></i><strong>&nbsp;IT Support</strong>&nbsp;</span>
          </td>
        </tr>

      </table>


    </div>
    <div id="btnuser" style="cursor:pointer;margin-top:-20px">
      <table>
        <tr style="margin-top:0px">
          <td rowspan="2" style="color:white;cursor:pointer">
            <span (click)="openoutlook()"><i class="fa fa-envelope"></i><strong>&nbsp;IT Support</strong>&nbsp;</span>
          </td>
          <td rowspan="2" (click)="op1.toggle($event)">
            <img src="{{profileimage}}" alt="Image not found" width="30" style="border-radius: 50%;border:3px solid white;" onerror="this.src='./assets/usericon.png';">
          </td>
          <td style="color:white; font-size:14px;padding-left:5px" (click)="op1.toggle($event)">
            {{username}}
          </td>
        </tr>
        <tr (click)="op1.toggle($event)">
          <td style="color:white;font-size:12px;padding-left:5px">
            {{loggedinas}}
          </td>
        </tr>

      </table>


    </div>
  </header>
<div style="margin-top: -20px;" id="menudiv">
  <p-menubar [model]="finalmenuitems" [style]="{'background': 'linear-gradient(to bottom, #669999 0%, #669999 100%)','color':'white'}" (click)="activeMenu($event)"></p-menubar>
</div>
<p-overlayPanel #op1>
  <!--<p-panelMenu [model]="useritems" [style]="{'width':'150px'}"></p-panelMenu>-->

  <p-panel [header]="loggedinas" [style]="{'text-align':'center'}">
    <img src="{{profileimage}}" alt="Image not found" width="60" style="border-radius: 50%;border:3px solid white;" onerror="this.src='./assets/usericon.png';">
    <div class="car-detail"></div>
    <button class="btn btn-primary" style="margin-top:5px;" (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</button>
  </p-panel>

</p-overlayPanel>
<p-overlayPanel #op2>
  <p-panelMenu [model]="notificationitems" [style]="{'width':'250px'}"></p-panelMenu>
  en
  Pa
</p-overlayPanel>
<p-toast position="top-right" [baseZIndex]="100000"></p-toast>



